<div id="footer">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
    <p id="copyright"><a href="http://popong.com/">Team POPONG</a>. 2013-{{ today.strftime('%Y') }}.</p>
    {% if not mobile %}
    <p class="pull-right">
        <a href="http://github.com/teampopong/pokr.kr">Code</a> |
        <a href="{{ url_for('sources') }}">Sources</a> |
        <a href="{{ url_for('terms') }}">Terms</a> |
        <a href="{{ url_for('privacy') }}" target="_blank">Privacy</a>
    </p>
    {% endif %}
    {% if not mobile and locale=="ko" %}
    {% endif %}
</div>

{% if not mobile %}
<script>
if (typeof $.fn.typeahead == 'function') {
    $('input#search').typeahead({
        name: 'people_names',
        prefetch: "{{url_for('person_all_names')}}"
    });
}
</script>
<script type="text/javascript">
var $buoop = {
    l: "ko"
};
$buoop.ol = window.onload;
window.onload=function(){
    try {if ($buoop.ol) $buoop.ol();}catch (e) {}
    var e = document.createElement("script");
    e.setAttribute("type", "text/javascript");
    e.setAttribute("src", "//browser-update.org/update.js");
    document.body.appendChild(e);
}
</script>

{% endif %}
