<h1>
    <a href="{{ url_for('main') }}">
    {% if locale=='ko' %}
    <img src="{{ url_for('static', filename='images/all_about_pokr.png') }}" alt="Politics in Korea" style="max-width: 300px">
    {% else %}
    <img src="{{ url_for('static', filename='images/logo-pokr-400x177-en.png') }}" alt="Politics in Korea" style="max-width: 300px">
    {% endif %}
    </a>
</h1>

<div id="searchbox">
    <form action="{{ url_for("search") }}">
        <div class="input-append">
                {% if mobile %}
                <input id="search" type="text" name="query" autocomplete="on" class="border-box" placeholder="{{ gettext('person') }}, {{ gettext('bill') }}, {{ gettext('party') }}, {{ gettext('region') }}">
                {% else %}
                <input id="search" type="text" name="query" autocomplete="on" class="border-box" placeholder="{{ gettext('person') }}, {{ gettext('bill') }}, {{ gettext('party') }}, {{ gettext('region') }} (ex: {{ gettext('Seon-Mi Jin') }}, 청년, 무소속, 관악구)">
                {% endif %}
                <button class="btn add-on">
                        <i class="icon-search"></i>
                </button>
        </div>
    </form>
</div>
<span class="user-options">
    {% if locale == 'ko' %}
    {% include "login.html" %}
    {% endif %}
    <a class="btn btn-mini btn-primary white" href="https://teampopong.uservoice.com/forums/211529">{{ gettext('feedback') }}</a>
    {% for lang, url in locale_links.items() %}
    <a class="language" href="{{ url }}">{{ lang.english_name }}</a>&nbsp;{% if not loop.last %}/{% endif %}
    {% endfor %}
</span>
<img id="banner" src="{{ url_for('static', filename="images/beta3.png") }}">
<script type="text/javascript">
$("#banner").click(function() {
    $(this).addClass("animated shake");
});
</script>
