{% set view_type = request.args.get('type', 'default') %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            {% if 'person' in request.path %}
                <li class="active">
            <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">{{ gettext('people') }}</span> <span class="fa arrow"></span></a>
                <ul class="subnav">
                {% for assembly_id_ in range(THIS_ASSEMBLY, 0, -1) %}
                <li class="btn btn-sm{% if assembly_id_==assembly_id %} active{% endif %}"><a href="{{ url_for('person_main', assembly_id=assembly_id_, type=view_type) }}">{{ assembly_id_ }}{{ gettext('th') }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('person_main') }}"><i class="fa fa-user"></i> <span class="nav-label">{{ gettext('people') }}</span> <span class="fa arrow"></span></a></li>
            {% endif %}

            {% if 'bill' in request.path %}
            <li class="active">
                <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">{{ gettext('bills') }}</span> <span class="fa arrow"></span></a>
                <ul class="subnav">
                {% for assembly_id_ in range(THIS_ASSEMBLY, 0, -1) %}
                    <li class="btn btn-sm{% if assembly_id_==assembly_id %} active{% endif %}"><a href="{{ url_for('bill_main', assembly_id=assembly_id_) }}">{{ assembly_id_ }}{{ gettext('th') }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('bill_main') }}"><i class="fa fa-file-text-o"></i> <span class="nav-label">{{ gettext('bills') }}</span> <span class="fa arrow"></span></a></li>
            {% endif %}

            {% if 'meeting' in request.path %}
            <li class="active">
                <a href="#"><i class="fa fa-comment"></i> <span class="nav-label">{{ gettext('meetings') }}</span></a>
            </li>
            {% else %}
            <li><a href="{{ url_for('meeting_main') }}"><i class="fa fa-user"></i> <span class="nav-label">{{ gettext('meetings') }}</span></a></li>
            {% endif %}

            {% if 'party' in request.path %}
            <li class="active">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">{{ gettext('parties') }}</span> <span class="fa arrow"></span></a>
                <ul class="subnav">
                {% for assembly_id_ in range(THIS_ASSEMBLY, 0, -1) %}
                <li class="btn btn-sm{% if assembly_id_==assembly_id %} active{% endif %}"><a href="{{ url_for('party_main', assembly_id=assembly_id_) }}">{{ assembly_id_ }}{{ gettext('th') }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('party_main') }}"><i class="fa fa-users"></i> <span class="nav-label">{{ gettext('parties') }}</span> <span class="fa arrow"></span></a></li>
            {% endif %}

            <li{% if 'region' in request.path %} class="active"{% endif %}><a href="{{ url_for('region_main') }}"><i class="fa fa-map-marker"></i> <span class="nav-label">{{ gettext('regions') }}</span></a></li>
        </ul>
    </div>
</nav>
