{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ bill.name }} - {{ super() }}
{% endblock %}

{% block meta_headers %}
<meta property="og:title" content="{{ bill.name }} - 대한민국 정치의 모든 것" />
<meta property="og:description" content="{% if bill.summary %}{{ bill.summary }}{% else %}{{ gettext('The summary of this bill has not been updated.') }}{% endif %}" />
{% for sponsor in bill.representative_people %}
    <meta property="og:image" content="{{ sponsor.image|default(url_for('static', filename='images/default_profile.jpg'), True) }}" />
    <meta name="twitter:image" content="{{ sponsor.image|default(url_for('static', filename='images/default_profile.jpg'), True) }}" />
{% endfor %}
{% endblock %}

{% block extra_headers %}
{# TODO: get rid of bill.less #}
{% assets filters='less', output='build/bill.%(version)s.css',
    depends=['**/*.less'], 'less/bill.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block breadcrumb_current %}
{{ bill.id }}
{% endblock %}

{% block content %}

<div class="row m-lg">
    <div class="col-lg-6">
        <p class="entity-info">{{ gettext('bill no. %(bill_id)s', bill_id=bill.id) }}</p>
        <h2>{{ bill.name }}</h2>

        {% if bill.name.endswith("(대안)") %}
        <div class="info m-t-sm m-b-md">
            <i class="fa fa-exclamation-triangle"></i>
            <span>"대안"은 원안과 취지는 같으나 내용을 전면 수정하거나 체계를 전혀 다르게 하여 작성된 안이며, 이 때 원안은 "대안폐기"됩니다.</span>
        </div>
        {% endif %}

        {% if bill.keywords %}
        <p class="keywords">
        {% for keyword in bill.keywords %}<a href="{{ url_for('search', target='bills', keyword_id=keyword.id) }}">{{ keyword.name }}</a>{% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="col-lg-6">
        <table class="table table-condensed">
            <tbody>
                {% if bill.assembly_id %}
                <tr>
                    <th>{{ gettext("assembly #") }}</th>
                    <td>{{ bill.assembly_id }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>발의주체</th>
                    {% if bill.cosponsors %}
                    <td>의원</td>
                    {% else %}
                    <td>{{ bill.sponsor }}</td>
                    {% endif %}
                </tr>
                {% if bill.status %}
                <tr>
                    <th>상태</th>
                    <td>{{ bill.status }}</td>
                </tr>
                {% endif %}
                {% if bill.proposed_date %}
                <tr>
                    <th>{{ gettext("proposed date") }}</th>
                    <td>{{ bill.proposed_date }}</td>
                </tr>
                {% endif %}
                {% if bill.decision_date %}
                <tr>
                    <th>{{ gettext("decision date") }}</th>
                    <td>{{ bill.decision_date }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>
                        {{ gettext('external links') }}
                    </th>
                    <td>
                        <ul id="external-links">
                            <li><a class="btn btn-rounded btn-default btn-sm" href="http://likms.assembly.go.kr/bill/jsp/BillDetail.jsp?bill_id={{ bill.link_id }}">{{ gettext('see official page') }}</a></li>
                            <li><a class="btn btn-rounded btn-default btn-sm{% if not bill.status_id==2 %} disabled{% endif %}" href="http://pal.assembly.go.kr/law/readView.do?lgsltpaId={{ bill.link_id }}#LblockListTable01">{{ gettext('suggest to assembly') }}</a>
                            <li><a class="btn btn-rounded btn-default btn-sm{% if not bill.document_pdf_path %} disabled{% endif %}" href="{{ url_for('bill_pdf', id=bill.id) }}">{{ gettext('see original pdf') }}</a>
                            <li><a class="btn btn-rounded btn-default btn-sm{% if not bill.document_text_path %} disabled{% endif %}" href="{{ url_for('bill_text', id=bill.id) }}">{{ gettext('see original text') }}</a>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if bill.cosponsors %}
<div class="row">
    <div class="col-lg-9">
        <div class="ibox">
            <div class="ibox-title">
                <h5 id="sponsors">{{ gettext('sponsors') }}</h5>
                <span>{{ macro.list_count(bill.cosponsors, type='people') }}</span>
            </div>
            <div class="ibox-content">
                <table class="table table-condensed no-t-b">
                    {% if bill.sponsor %}
                    <tr>
                        <th>{{ gettext("representative sponsor") }}</th>
                        <td>{% if bill.representative_people %}
                                {% for sponsor in bill.representative_people %}
                                {{ widgets.card(sponsor)|safe }}
                                {% endfor %}
                            {% else %}
                                {{ bill.sponsor }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if bill.cosponsors %}
                    <tr>
                        <th>
                            {{ gettext("cosponsors") }}
                        </th>
                        <td>
                            {% for cosponsor in bill.cosponsors %}{{ widgets.card(cosponsor)|safe }}{% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-title">
                <h5>발의자 정당 비율</h5>
            </div>
            <div class="ibox-content height-200">
                <div id="cosponsor-parties"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="ibox">
    <div class="ibox-title">
        <h5 id="contents">{{ gettext('contents') }}</h5>
    </div>
    <div class="ibox-content">
        {% if bill.summary %}
        <pre id="bill-summary" class="text">{{ bill.summary }}</pre>
        {% else %}
        {{ gettext('The summary of this bill has not been updated.') }}
        {% endif %}
    </div>
</div>

{% if not mobile %}
{% include 'includes/adsense-728x90.html' %}
{% endif %}

<div class="ibox">
    <div class="ibox-title">
        <h5>의안 상태</h5>
    </div>
    <div class="ibox-content">
        {% include 'bill-status.html' %}
    </div>
</div>

{% with party_counts = bill.party_counts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['party', 'count'],
      {% for party_name, size, _ in party_counts %}
      ['{{ party_name }}', {{ size }}]{% if not loop.last %},{% endif %}
      {% endfor %}
    ]);

    var options = {
        chartArea: {
            width: 280
        },
        legend: {
            textStyle: {
                fontSize: 11
            }
        },
        colors: [
            {% for _, _, color in bill.party_counts %}
               '{{ color or '' }}' || getRandomColor(){% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    };

    var chart = new google.visualization.PieChart(document.getElementById('cosponsor-parties'));
    chart.draw(data, options);
  }
</script>
{% endwith %}

{% endblock %}
