{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ bill.name }} - {{ super() }}
{% endblock %}

{% block meta_headers %}
<meta property="og:title" content="{{ bill.name }} - 대한민국 정치의 모든 것" />
<meta property="og:description" content="{% if bill.summary %}{{ bill.summary }}{% else %}{{ gettext('The summary of this bill has not been updated.') }}{% endif %}" />
{% for sponsor in bill.representative_people %}
    <meta property="og:image" content="{{ sponsor.image|default(url_for('static', filename='images/default_profile.jpg'), True) }}" />
    <meta property="twitter:image" content="{{ sponsor.image|default(url_for('static', filename='images/default_profile.jpg'), True) }}" />
{% endfor %}
{% endblock %}

{% block extra_headers %}
{# TODO: get rid of bill.less #}
{% assets filters='less', output='build/bill.%(version)s.css',
    depends=['**/*.less'], 'less/bill.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block breadcrumb_current %}
{{ bill.id }}
{% endblock %}

{% block content %}
{% block bill_menus %}
{% endblock %}

<div id="bill-view" class="view">
    <div class="entity-header grad">
        <p class="text-center entity-info">{{ gettext('bill no. %(bill_id)s', bill_id=bill.id) }}</p>
        <h2 class="text-center"><a href='{{ url_for('bill', id=bill.id) }}'>{{ bill.name }}</a></h2>
        {% include 'social.html' %}
        {% if bill.name.endswith("(대안)") %}
        <div class="info text-center">
            <i class="icon-exclamation-sign"></i>
            <span>'대안'은 원안과 취지는 같으나 내용을 전면 수정하거나 체계를 전혀 다르게 하여 작성된 안이며, 이 때 원안은 '대안폐기'됩니다</span>
        </div>
        {% endif %}
    </div>
    <div id="bill-sections" class="sections">
        {% block bill_content %}{% endblock %}
    </div>
</div>
{% endblock %}
