{% extends "bill-layout.html" %}

{% block bill_content %}
<div id="section-outline" class="section">
    <h3 id="outline">{{ gettext('outline') }}</h3>
    <table id="bill-outline" class="table table-condensed">
        <tbody>
            {% if bill.assembly_id %}
            <tr>
                <th>{{ gettext("assembly #") }}</th>
                <td>{{ bill.assembly_id }}</td>
            </tr>
            {% endif %}
            {% if bill.proposed_date %}
            <tr>
                <th>{{ gettext("proposed date") }}</th>
                <td>{{ bill.proposed_date }}</td>
            </tr>
            {% endif %}
            {% if bill.decision_date %}
            <tr>
                <th>{{ gettext("decision date") }}</th>
                <td>{{ bill.decision_date }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ gettext("status") }}</th>
                <td>
                    <table id="bill-status" class="table">
                        {% set before_current = True %}
                        {% if mobile %}
                            {% for status in bill.statuses %}
                                <tr>
                                {% if status.id == bill.status_id %}
                                <td class="present">
                                {% set before_current = False %}
                                {% elif before_current %}
                                <td class="past">
                                {% else %}
                                <td class="future">
                                {% endif %}
                                <a href="{{ url_for('search', target='bills', status_id=status.id) }}">{{ status.name }}</a></td></tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                            {% for status in bill.statuses %}
                                {% if status.id == bill.status_id %}
                                <td class="present">
                                {% set before_current = False %}
                                {% elif before_current %}
                                <td class="past">
                                {% else %}
                                <td class="future">
                                {% endif %}
                                <!-- TODO: status explanation -->
                                <a href="{{ url_for('search', target='bills', status_id=status.id) }}"><div class="tooltipped" data-placement="bottom" data-title="{{ status.description }}">{{ status.name }}</div></a></td>
                            {% endfor %}
                            </tr>
                        {% endif %}
                    </table>

                </td>
            </tr>
            {% if bill.keywords %}
            <tr>
                <th>{{ gettext("related keywords") }}</th>
                <td>{% for keyword in bill.keywords %}<a href="{{ url_for('search', target='bills', keyword_id=keyword.id) }}">{{ keyword.name }}</a>{% if not loop.last %},&nbsp;{% endif %}{% endfor %}</td>
            </tr>
            {% endif %}
            <tr>
                <th>
                    {{ gettext('external links') }}
                </th>
                <td>
                    <div class="original-link">
                        <a href="http://likms.assembly.go.kr/bill/jsp/BillDetail.jsp?bill_id={{ bill.link_id }}">{{ gettext('see official page') }}</a>
                        <a href="http://likms.assembly.go.kr/bill/jsp/BillDetail.jsp?bill_id={{ bill.link_id }}" target="_blank"><i class="icon-external-link"></i></a>
                        {% if bill.document_pdf_path %}<br><a href="{{ url_for('bill_pdf', id=bill.id) }}">{{ gettext('see original pdf') }}</a>{% endif %}
                        {% if bill.document_text_path %}<br><a href="{{ url_for('bill_text', id=bill.id) }}">{{ gettext('see original text') }}</a>{% endif %}
                    </div>
</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="section-sponsors" class="section">
    <h3 id="sponsors">{{ gettext('sponsors') }}</h3>
    {% if mobile %}
        {% if bill.sponsor %}
            <h4 class="subsection-title">{{ gettext("representative sponsor") }}</h4>
            {% if bill.representative_people %}
                {% for sponsor in bill.representative_people %}
                {{ widgets.card(sponsor)|safe }}
                {% endfor %}
            {% else %}
                {{ bill.sponsor }}
            {% endif %}
        {% endif %}
        {% if bill.cosponsors %}
            <h4 class="subsection-title">
                {{ gettext("cosponsors") }}
                {{ macro.list_count(bill.cosponsors, type='people') }}
            </h4>
            <div id="cosponsor-cards">
            {% for cosponsor in bill.cosponsors %}{{ widgets.card(cosponsor)|safe }}{% endfor %}
            </div>
            <div id="cosponsor-parties"></div>
        {% endif %}
    {% else %}
    <table class="table table-condensed">
        {% if bill.sponsor %}
        <tr>
            <th>{{ gettext("representative sponsor") }}</th>
            <td>{% if bill.representative_people %}
                    {% for sponsor in bill.representative_people %}
                    {{ widgets.card(sponsor)|safe }}
                    {% endfor %}
                {% else %}
                    {{ bill.sponsor }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if bill.cosponsors %}
        <tr>
            <th>
                {{ gettext("cosponsors") }}
                <br>{{ macro.list_count(bill.cosponsors, type='people') }}
            </th>
            <td>
                <div id="cosponsor-cards">
                {% for cosponsor in bill.cosponsors %}{{ widgets.card(cosponsor)|safe }}{% endfor %}
                </div>
                <div id="cosponsor-parties"></div>
            </td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
</div>
<div id="section-contents" class="section">
    <h3 id="contents">{{ gettext('contents') }}</h3>
    <table class="table table-condensed">
        <tr>
            <th>{{ gettext('summary') }}</th>
            <td>
            {% if bill.summary %}
            <pre id="bill-summary" class="text">{{ bill.summary }}</pre>
            {% else %}
            {{ gettext('The summary of this bill has not been updated.') }}
            {% endif %}
            </td>
        </tr>
    </table>
</div>
{% if not mobile %}
{% include 'includes/adsense-728x90.html' %}
{% endif %}
{% with party_counts = bill.party_counts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['party', 'count'],
      {% for party_name, size, _ in party_counts %}
      ['{{ party_name }}', {{ size }}]{% if not loop.last %},{% endif %}
      {% endfor %}
    ]);

    var options = {
        chartArea: {
            width: 280
        },
        legend: {
            textStyle: {
                fontSize: 11
            }
        },
        colors: [
            {% for _, _, color in bill.party_counts %}
               '{{ color }}'{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    };

    var chart = new google.visualization.PieChart(document.getElementById('cosponsor-parties'));
    chart.draw(data, options);
  }
</script>
{% endwith %}
{% endblock %}
