{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('bills') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('bills') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/bill-submain.%(version)s.css',
    depends=['**/*.less'], 'less/bill-submain.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
{% endassets %}

<!-- datatables -->
{% assets filters='cssmin', output='build/datatables.%(version)s.css',
    'node_modules/datatables/media/css/jquery.dataTables.css',
    'node_modules/datatables-bootstrap3-plugin/media/css/datatables-bootstrap3.css',
    'css/datatables.css' %}
    <link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% assets filters='uglifyjs', output='build/datatables.%(version)s.js',
    'node_modules/datatables/media/js/jquery.dataTables.js',
    'node_modules/datatables-bootstrap3-plugin/media/js/datatables-bootstrap3.js' %}
    <script src="{{ASSET_URL}}"></script>
{% endassets %}
<script>
$(document).ready(function() {
    $('#bills-list').dataTable({
        'processing': true,
        'serverSide': true,
        'ajax': '{{ url_for("bills_list", assembly_id=assembly_id) }}',
        'order': [],  // disable initial sorting
        'asStripeClasses': '',
        'columns': [
            { 'data': 'proposed_date' },
            { 'data': 'name' },
            { 'data': 'sponsor' },
            { 'data': 'status' }
        ],
        'language': {
            'paginate': { 'previous': '', 'next': '' },
            'processing': '<div class="sk-spinner sk-spinner-pulse"></div>'
        }
    });

    // Add link to each row
    $('#bills-list tbody').on('click', 'tr', function () {
        window.location.href = $(this).attr('id');
    });
});
</script>
{% endblock %}

{% block content %}
{% include 'includes/sidebar.html' %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12 tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"> 목록으로 보기</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="panel-body">
                        <table id="bills-list" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>제안일</th>
                                    <th>제목</th>
                                    <th>발의자</th>
                                    <th>상태</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not request.args.page or request.args.page=='1' %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">{{ assembly_id }}대 국회 의안</h3>
                <small>의안 상태별 비중을 나타낸 버블 그래프.</small>
            </div>
            <div id="bill-status-counts" class="itemlist">
                {{ widgets.bubble(status_counts, diameter=250)|safe }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
