<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}대한민국 정치의 모든 것{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        {% block meta_headers %}
        <meta property="og:title" content="대한민국 정치의 모든 것 (Politics in Korea)" />
        <meta property="og:description" content="1대부터 19대까지 모든 국회의원 후보자와 당선자, 그들이 발의한 의안과 회의록을 이 곳에서 보세요! 가입하면 내가 살고 있는 지역, 내 관심사에 대한 의안만 선별해서 보여드립니다." />
        {% endblock %}
        {% if not bill %}
        <meta property="og:image" content="{{ url_for('static', filename="images/button-pokr-512x512.png", _external=True) }}"/>
        {% endif %}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.url }}" />
        <meta property="fb:admins" content="1347665216" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@teampopong">
        <meta name="twitter:creator" content="@teampopong">
        <meta name="twitter:domain" content="{{ request.url }}">
        {% for lang, url in locale_links.items() %}
        <link rel="alternate" hreflang="{{lang}}" href="{{url}}">
        {% endfor %}
        <link rel="image_src" type="image/png" href="{{ url_for('static', filename="images/logo-pokr-256x256.png") }}">
        <link rel="publisher" href="https://plus.google.com/105947574285483937110">

        <script>
        window.isMobile = {{ 'true' if mobile else 'false' }};
        window.currentPage = '{{request.endpoint}}';
        window.isDebug = {{ 'true' if app.debug else 'false' }};
        </script>

        {% include 'includes/includes.html' %}

        {% block extra_headers %}{% endblock %}

        {% include 'includes/google-analytics.html' %}

        <!--[if lte IE 7]>
            <style type="text/css">
                #header, #container, #footer { margin: 0px; }
            </style>
        <![endif]-->
    </head>
    <body class="{{ locale }}">
        <div id="header">
            <div id="header-top">
            {% include 'includes/header.html' %}
            </div>
            <ul class="breadcrumb">
            {% if breadcrumbs %}
                {% for name in breadcrumbs %}
                    {% set endpoint = app.views[name] %}
                    <li><a href="{{ url_for(endpoint) }}">{{ gettext(name) }}</a> <span class="divider">&gt;</span></li>
                {% endfor %}
                {% block breadcrumb_extra %}
                {% endblock %}
                <li class="active">{% block breadcrumb_current %}{% endblock %}</li>
            {% endif %}
            </ul>
        </div>

        <div id="container">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'includes/footer.html' %}
        {% include 'includes/feedback.html' %}
    </body>
</html>
