{% macro people_list_pagenav(people, page=None, pagesize=None) -%}
    <div class="float-list">
        {% call(person) list_pagenav(people, page=page, pagesize=pagesize) %}
            {{widgets.card(person)|safe}}
        {% endcall %}
    </div>
{%- endmacro %}

{% macro people_list_more(people, url, pagesize=None) -%}
    <div class="float-list">
        {% call(person) list_more(people, url, pagesize=pagesize) %}
            {{widgets.card(person)|safe}}
        {% endcall %}
    </div>
{%- endmacro %}

{% macro list_count(query, type=None) -%}
    {% set cnt = query|count if hasattr(query, 'sort') else query.count() %}
    <span class="search-count">{% if type=='people' %}{{ gettext('%(count)d people', count=cnt) }}{% else %}{{ gettext('%(count)d results', count=cnt) }}{% endif %}</span>
{%- endmacro %}

{% macro list_pagenav(query, page=None, pagesize=None, l=2, layout='list', headers=None) -%}
    {% set page = int(request.args.get('page', 1)) %}
    {% set pagesize = pagesize or 20 %}
    {% set prev_url = url_for_query(page=max(1, page - 1)) %}
    {% set next_url = url_for_query(page=page + 1) %}
    {% set offset = (page - 1) * pagesize %}

    {% if hasattr(query, 'sort') %}
        {% set items = query[offset:offset+pagesize+1] %}
        {% set num_items_left = max(query[offset+pagesize+1:]|length, 0) %}
        {% set num_pages_left = int((num_items_left + pagesize - 1) / pagesize) %}
    {% else %}
        {% set items = query.offset(offset).limit(pagesize+1).all() %}
        {% set num_items_left = max(query.offset(offset).count() - pagesize, 0) %}
        {% set num_pages_left = int((num_items_left + pagesize - 1) / pagesize) %}
    {% endif %}

    {% if layout=='list' %}
        <ul>
        {% for item in items[:pagesize] %}
            <li>{{caller(item)}}</li>
        {% endfor %}
        </ul>
    {% elif layout=='table' %}
        <table class="table table-condensed">
        {% if headers %}
            <thead><tr>
                {% for head in headers.split() %}
                <th>{{ head }}</th>
                {% endfor %}
            </tr></thead>
        {% endif %}
        {% for item in items[:pagesize] %}
            <tr>{{caller(item)}}</tr>
        {% endfor %}
        </table>
    {% endif %}

    <div class="pagenav">
        {% if 1 <= page-l-1 %}
            <a class="btn-pagenav btn-prev" href="{{ url_for_query(page=1) }}"><i class="fa fa-angle-double-left"></i></a>
            <a class="btn-pagenav btn-prev" href="{{ url_for_query(page=page-l-1) }}"><i class="fa fa-angle-left"></i></a>
        {% endif %}
        {% for p in range(max(page-l, 1), page+min(num_pages_left, l)+1) %}
            <a class="btn-pagenav{% if p == page %} active{% endif %}" href="{{ url_for_query(page=p) }}">{{ p }}</a>
        {% endfor %}
        {% if l < num_pages_left %}
            <a class="btn-pagenav btn-next" href="{{ url_for_query(page=page+l+1) }}"><i class="fa fa-angle-right"></i></a>
            <a class="btn-pagenav btn-next" href="{{ url_for_query(page=page+num_pages_left) }}"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}
    </div>
{%- endmacro %}

{% macro list_more(query, url, pagesize=None, layout='list', more=True) -%}
    {% set pagesize = pagesize or 20 %}
    {% set items = query if hasattr(query, 'sort') else query.limit(pagesize+1).all() %}

    {% if layout=='list' %}
        <ul>
        {% for item in items[:pagesize] %}
            <li>{{caller(item)}}</li>
        {% endfor %}
        </ul>
    {% elif layout=='table' %}
        <table class="table table-condensed">
        {% for item in items[:pagesize] %}
            <tr>{{caller(item)}}</tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if more and items|count > pagesize %}
    <a class="btn-more" href="{{ url }}">{{ gettext('more') }}</a>
    {% endif %}
{%- endmacro %}

{% macro bill_with_fallback_date(bill, person_name=None) -%}
<td>{{ bill.proposed_date or (bill.decision_date and '%d-00-00' % bill.decision_date.year) or gettext("date unknown") }}</td>
<td><a href="{{ url_for('bill', id=bill.id) }}">{{ bill.name }}</a></td>
<td>
{% if person_name %}
    {% if person_name in bill.sponsor %}
        {{ gettext('representative sponsor') }}
    {% else %}
        {{ gettext('sponsor') }}
    {% endif %}
{% else %}
    {{ bill.sponsor }}
{% endif %}
</td>
{%- endmacro %}

{% macro meeting_statement(statement) -%}
<td>
    {% if statement.person_id %}<a href="{{ url_for('person', id=statement.person_id) }}">{% else %}<p>{% endif %}
    {{ statement.speaker }}
    {% if statement.person_id %}</a>{% else %}</p>{% endif %}
</td>
<td>
    {% set content = statement.content %}
    {% include 'macro-statement.html' with context %}
    <a href="{{ statement.url }}dialog#{{ statement.id }}" class="pull-right">{{ statement.date }}</a>
</td>
{%- endmacro %}

{% macro statement_content(content) -%}
{% include 'macro-statement.html' with context %}
{%- endmacro %}
