{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }} - Politics in Korea
{% endblock %}

{% if not mobile %}
{% block extra_headers %}
{% assets filters='less', output='build/main.%(version)s.css',
depends=['**/*.less'], 'less/main.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}
{% endif %}

{% block content %}
<div id="hero">
    <h2>{{ gettext('Get Korean legislative information, all in one place') }}</h2>
    <p>{{ gettext('Search for up to 14,000 legislators, 52,000 bills, meeting logs, party information and more!') }}</p>
    <p id="pokrbot">
        {{ gettext('Get realtime legislative information now') }}:
        <a href="http://twitter.com/pokrbot" target="_blank" class="twitter-icon"><i class="icon-twitter"></i></a>
        <a href="http://facebook.com/pokrbot" target="_blank" class="facebook-icon"><i class="icon-facebook"></i></a>
    </p>
    {% if not mobile %}
    {% include 'facebook-login.html' %}
    <div class="social-sends">
        {% include 'popong-like.html' %}
        {% include 'popong-follow.html' %}
    </div>
    {% endif %}
</div>
<div id="class-list">
    <a class="btn-submain" href="{{ url_for('person_main') }}"><img src="{{ url_for('static', filename='images/button_person.png') }}"><div class="btn-text">{{ gettext('People') }}</div></a>
    <a class="btn-submain" href="{{ url_for('bill_main') }}"><img src="{{ url_for('static', filename='images/button_bill.png') }}"><div class="btn-text">{{ gettext('Bills') }}</div></a>
    <a class="btn-submain" href="{{ url_for('meeting_main') }}"><img src="{{ url_for('static', filename='images/button_meeting.png') }}"><div class="btn-text">{{ gettext('Meetings') }}</div></a>
    <a class="btn-submain" href="{{ url_for('party_main') }}"><img src="{{ url_for('static', filename='images/button_party.png') }}"><div class="btn-text">{{ gettext('Parties') }}</div></a>
    <a class="btn-submain" href="{{ url_for('region_main') }}"><img src="{{ url_for('static', filename='images/button_region.png') }}"><div class="btn-text">{{ gettext('Regions') }}</div></a>
</div>

{% if not mobile and locale=="ko"%}
<div id="feedback-guide">
    <img src="{{ url_for('static', filename='images/guide_arrow.png') }}">
    <span class="shaking-on-load">{{ gettext("Your feedback<br>makes us better!<br><small>(We feed on compliments)</small>") }}</span>
</div>
<script>
$(window).load(function () {
    setTimeout(function () {
        $('.shaking-on-load').addClass('shaking');
    }, 1000);
});
</script>
{% endif %}


{# To preload images #}
<div style="display: none;">
{% for name in ('bill', 'party', 'person', 'region') %}
<img src="{{ url_for('static', filename='images/default_%s_%s_grey.png'%(name, locale)) }}">
{% endfor %}
</div>

<div id="features">
    <a><h3>{{ gettext('Data interlinking') }}</h3>
        <p>{{ gettext('Easier to discover new facts') }}</p>
        <img src="{{ url_for('static', filename='images/main_classes.png') }}">
    </a>
    <a><h3>{{ gettext('My page') }}</h3>
        <p>{{ gettext('Easier to find bills related to my region and interests') }}</p>
        <img src="{{ url_for('static', filename='images/main_mypage.png') }}">
    </a>
    <a><h3>{{ gettext('Graphs and images') }}</h3>
        <p>{{ gettext('Easier to understand the data in depth') }}</p>
        <img src="{{ url_for('static', filename='images/main_graph.png') }}">
    </a>
    <a href="http://teampopong.uservoice.com"><h3>{{ gettext('Open participation') }}</h3>
        <p>{{ gettext('Anyone can share ideas') }}</p>
        <img src="{{ url_for('static', filename='images/main_uservoice.png') }}">
    </a>
    <a href="http://data.popong.com"><h3>{{ gettext('Open data') }}</h3>
        <p>{{ gettext('Anyone can access the data') }}</p>
        <img src="{{ url_for('static', filename='images/main_api.png') }}">
    </a>
    <a href="http://github.com/teampopong"><h3>{{ gettext('Open source') }}</h3>
        <p>{{ gettext('Anyone can contribute code') }}</p>
        <img src="{{ url_for('static', filename='images/main_github.png') }}">
    </a>
    <a><h3>{{ gettext('Mobile compatibility') }}</h3>
        <p>{{ gettext('Easier to access on the go') }}</p>
        <img src="{{ url_for('static', filename='images/main_mobile.png') }}">
    </a>
    <a><h3>{{ gettext('Short and descriptive URLs') }}</h3>
        <p>{{ gettext('Easier to understand and manipulate URLs') }}</p>
        <img src="{{ url_for('static', filename='images/main_url.png') }}">
    </a>
    <a><h3>{{ gettext('Jargon explanations') }}</h3>
        <p>{{ gettext('Easier to understand difficult words') }}</p>
        <img src="{{ url_for('static', filename='images/main_dict.png') }}">
    </a>
</div>
{% endblock %}
