{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }} - Politics in Korea
{% endblock %}

{% if not mobile %}
{% block extra_headers %}
{% assets filters='less', output='build/main.%(version)s.css',
depends=['**/*.less'], 'less/main.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}
{% endif %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content text-center p-md">
                <h2>{{ gettext('Get Korean legislative information, all in one place') }}</h2>
                <p>{{ gettext('Search for up to %s legislators, %s bills, %s meeting logs and more!' % (npeople, nbills, nmeetings)) }}</p>
            </div>
        </div>
    </div>
</div>

<div id="hero">
    <div class="row m-lg">
        <div class="col-lg-offset-8 col-lg-2">
            <h3><i class="fa fa-line-chart"></i> {{ gettext('Now trending') }}</h3>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                    <span class="label label-success">1</span> Please contact me
                </li>
                <li class="list-group-item">
                    <span class="label label-success">2</span> Sign a contract
                </li>
                <li class="list-group-item">
                    <span class="label label-success">3</span> Open new shop
                </li>
                <li class="list-group-item">
                    <span class="label label-success">4</span> Call back to Sylvia
                </li>
                <li class="list-group-item">
                    <span class="label label-success">5</span> Write a letter to Sandra
                </li>
            </ul>
        </div>
    </div>
    {% if not mobile %}
    <div class="social-sends">
        {% include 'popong-like.html' %}
        {% include 'popong-follow.html' %}
    </div>
    {% endif %}
</div>

{% if not mobile and locale=="ko"%}
<div id="feedback-guide">
    <i class="fa fa-reply fa-3x"></i>
    <span class="shaking-on-load">{{ gettext("Your feedback<br>makes us better!<br><small>(We feed on compliments)</small>") }}</span>
</div>
<script>
$(window).load(function () {
    setTimeout(function () {
        $('.shaking-on-load').addClass('shaking');
    }, 1000);
});
</script>
{% endif %}
{% endblock %}
