{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }} - Politics in Korea
{% endblock %}

{% if not mobile %}
{% block extra_headers %}
{% assets filters='less', output='build/main.%(version)s.css',
depends=['**/*.less'], 'less/main.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}
{% endif %}

{% block content %}
<div id="hero">
    {% if locale=='ko' %}
    <img src="{{ url_for('static', filename="images/hero-1.png") }}">
    <img src="{{ url_for('static', filename="images/hero-2.png") }}">
    {% else %}
    <h2>Legislative information that best fits your life</h2>
    {% endif %}
    <p style="color: #333">{{ gettext('If you input your location and interests, we deliver legislative information based on your taste.') }}</p>
    <p id="pokrbot">
        {{ gettext('Get realtime legislative information now') }}:
        <a href="http://twitter.com/pokrbot" target="_blank" class="twitter-icon"><i class="icon-twitter"></i></a>
        <a href="http://facebook.com/pokrbot" target="_blank" class="facebook-icon"><i class="icon-facebook"></i></a>
    </p>
    {% include 'facebook-login.html' %}
    <div class="social-sends">
        {% include 'popong-like.html' %}
        {% include 'popong-follow.html' %}
    </div>
</div>
<div id="class-list">
    <div><a href="{{ url_for('person_main') }}"><div id="class-people" class="class-item {{ locale }}"></div></a></div>
    <div><a href="{{ url_for('bill_main') }}"><div id="class-bills" class="class-item {{ locale }}"></div></a></div>
    <div><a href="{{ url_for('party_main') }}"><div id="class-parties" class="class-item {{ locale }}"></div></a></div>
    <div><a href="{{ url_for('region_main') }}"><div id="class-regions" class="class-item {{ locale }}"></div></a></div>
</div>

{% if not mobile and locale=="ko"%}
<div id="feedback-guide">
    <img src="{{ url_for('static', filename='images/guide_arrow.png') }}">
    <span class="shaking-on-load">{{ gettext("Your feedback<br>makes us better!<br><small>(We feed on compliments)</small>") }}</span>
</div>
<script>
$(window).load(function () {
    setTimeout(function () {
        $('.shaking-on-load').addClass('shaking');
    }, 1000);
});
</script>
{% endif %}


{# To preload images #}
<div style="display: none;">
{% for name in ('bill', 'party', 'person', 'region') %}
<img src="{{ url_for('static', filename='images/default_%s_%s_grey.png'%(name, locale)) }}">
{% endfor %}
</div>
{% endblock %}
