{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('meetings') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('meetings') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/submain.%(version)s.css',
    depends=['**/*.less'], 'less/submain.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="search-tabs" class="submain-header">
    <img class="submain-img" src="{{ url_for('static', filename='images/meetings_image.png') }}">
    <div class="submain-nav">
        <h2 class="submain-title">{{ gettext('meeting') }}</h2>
    </div>
    <div class="calendar">
        <p id="year-num" class="year-num">
            <a href="?year={{year - 1}}">&lt;</a>
            <span>{{year}}</span>
            <a href="?year={{year + 1}}">&gt;</a>
        </p>
    </div>
</div>
<div class="warning pull-right" style="margin-top: -15px; margin-right: 15px;"><i class="icon-exclamation-sign"></i>2013년 11월 11일 이후 회의록부터 제공됩니다.</div>
{% if date %}
<div style="padding: 0 40px;">
    {% if locale=='ko' %}
    <h4>{{ date.year }}년 {{ date.month }}월 {{ date.day }}일</h4>
    {% else %}
    <h4>{{ date.strftime("%B %d, %Y") }}</h4>
    {% endif %}
    {% if meetings_of_the_day %}
    <ul>
        {% for meeting in meetings_of_the_day %}
        <li><a href="{{ url_for('meeting', id=meeting.id) }}">{{ meeting.title }}</a>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<hr>
{% endif %}
<div class="calendar">
    {{ widgets.year(year, meetings_of_the_year)|safe }}
</div>
{% endblock %}
