{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('meetings') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('meetings') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/meeting.%(version)s.css',
    depends=['**/*.less'], 'less/year.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block content %}
{% if not mobile %} {% include 'includes/sidebar.html' %} {% endif %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12 tabs-container">
            <ul class="nav nav-tabs">
                <li><a href="{{ url_for('meeting_main', type='list') }}"> 목록으로 보기</a></li>
                <li class="active"><a href="#"> 달력으로 보기</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="panel-body">
                        <small class="pull-right"><i class="fa fa-exclamation-triangle"></i> 회의록은 19대 국회부터 제공됩니다.</small>
                        <p id="year-num" class="year-num">
                            <a href="?type=calendar&year={{year - 1}}" class="btn"><i class="fa fa-angle-left"></i></a>
                            <span class="btn btn-primary">{{year}}</span>
                            <a href="?type=calendar&year={{year + 1}}" class="btn"><i class="fa fa-angle-right"></i></a>
                        </p>
                        <div class="calendar">
                            {{ widgets.year(year, meetings_of_the_year) | safe }}
                        </div>
                        <hr>
                        {% if date %}
                            {% if locale=='ko' %}
                            <h4>{{ date.year }}년 {{ date.month }}월 {{ date.day }}일</h4>
                            {% else %}
                            <h4>{{ date.strftime("%B %d, %Y") }}</h4>
                            {% endif %}
                        {% endif %}

                        {% if meetings_of_the_day %}
                        <ul>
                            {% for meeting in meetings_of_the_day %}
                            <li><a href="{{ url_for('meeting', id=meeting.id) }}">{{ meeting.title }}</a>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
