{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ meeting.parliament_id }}{{ gettext('th parliament') }}
{% if meeting.session_id %}{{ meeting.session_id }}{{ gettext('th session') }}{% endif %}
{% if meeting.sitting_id %}{{ meeting.sitting_id }}{{ gettext('th sitting') }}{% endif %}
{{ meeting.committee }} - {{ super() }}
{% endblock %}

{% block meta_headers %}
<meta property="og:title" content="{{ meeting.parliament_id }}{{ gettext('th parliament') }} {% if meeting.session_id %}{{ meeting.session_id }}{{ gettext('th session') }}{% endif %} {% if meeting.sitting_id %}{{ meeting.sitting_id }}{{ gettext('th sitting') }}{% endif %} {{ meeting.committee }} - 대한민국 정치의 모든 것" />
{% if meeting.issues %}
<meta property="og:description" content="{% for issue in meeting.issues %}{{ issue.rsplit('(', 1)[0] }}{% if not loop.last %} / {% endif %}{% endfor %}" />
{% endif %}
{% endblock %}

{% block breadcrumb_current %}
{{ meeting.id }}
{% endblock %}

{% block content %}
<div class="row m-lg">
    <div class="col-lg-6">
        <p class="entity-info">
            {{ meeting.parliament_id }}{{ gettext('th parliament') }}
            {% if meeting.session_id %}{{ meeting.session_id }}{{ gettext('th session') }}{% endif %}
            {% if meeting.sitting_id %}{{ meeting.sitting_id }}{{ gettext('th sitting') }}{% endif %}
        </p>
        <h2>{{ meeting.committee }}</h2>
    </div>
    <div class="col-lg-6">
        <table id="meeting-outline" class="table table-condensed">
            <tbody>
                <tr>
                    <th>{{ gettext('date') }}</th>
                    <td>{{ meeting.date }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('starting time') }}</th>
                    <td>{{ meeting.start }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('ending time') }}</th>
                    <td>{{ meeting.end }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('duration time') }}</th>
                    <td>{{ meeting.duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="tabs-container m-md">
    <ul class="nav nav-tabs">
        <li{% if request.path.endswith('/') %} class="active"{% endif %}><a href="{{ url_for('meeting', id=meeting.id) }}">기본정보</a></li>
        <li{% if 'dialog' in request.path %} class="active"{% endif %}><a href="{{ url_for('meeting_dialogue', id=meeting.id) }}">{{ gettext('view web') }} (HTML)</a></li>
        {% if meeting.document_pdf_path %}
            <li{% if 'pdf' in request.path %} class="active"{% endif %}><a href="{{ url_for('meeting_pdf', id=meeting.id) }}">{{ gettext('view file') }} (PDF)</a></li>
        {% endif %}
    </ul>
</div>

<div id="meeting-view" class="view">
    <div id="meeting-sections" class="sections">
        {% block meeting_content %}{% endblock %}
    </div>
</div>
{% endblock %}
