{% extends 'meeting-layout.html' %}

{% block meeting_content %}
<div class="ibox">
    <div class="ibox-title">
        <h5>{{ gettext('issues') }}</h5>
    </div>
    <div class="ibox-content">
        <ul class="dd-list">
        {% for row in meeting.dialogue %}
            {% if row.type=='issue' %}
            <li class="dd-item"><a class="dd-handle" href="{{ request.path }}dialog#{{ loop.index }}" title="{{ row.content }}">{{ row.content.rsplit('(', 1)[0][:100] }}{% if row.content|length > 100 %}...{% endif %}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <h5>{{ gettext('attendees') }}</h5>
        <small class="pull-right"><i class="fa fa-exclamation-triangle"></i> {{ gettext('Attendees among National Assembly members are listed.') }}</small>
    </div>
    <div class="ibox-content">
        {% for attendee in meeting.attendees %}
        {{ widgets.card(attendee.id)|safe }}
        {% endfor %}
    </div>
</div>

<script>
if ($('#issue-list').is(':empty')){
    var issues = document.getElementById('#issue-list');
    div.appendChild("iadf");
}
</script>
{% endblock %}
