{% extends 'meeting-layout.html' %}

{% block meeting_content %}
<h3 id="outline">{{ gettext('outline') }}</h3>
<table id="meeting-outline" class="table table-condensed">
    <tbody>
        <tr>
            <th>{{ gettext('date') }}</th>
            <td>{{ meeting.date }}</td>
        </tr>
        <tr>
            <th>{{ gettext('dialogue') }}</th>
            <td><a href="{{ request.path }}/dialogue">{{ gettext('view') }}</a></td>
        </tr>
    </tbody>
</table>

<h3>{{ gettext('issues') }}</h3>
<ul class="no-bullets">
    {% for issue in meeting.issues %}
    <li>{{ issue.rsplit('(', 1)[0] }}</li>
    {% endfor %}
</ul>
{% endblock %}
