{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ meeting.parliament_id }}{{ gettext('th parliament') }}
{% if meeting.session_id %}{{ meeting.session_id }}{{ gettext('th session') }}{% endif %}
{% if meeting.sitting_id %}{{ meeting.sitting_id }}{{ gettext('th sitting') }}{% endif %}
{{ meeting.committee }} - {{ super() }}
{% endblock %}

{% block meta_headers %}
<meta property="og:title" content="{{ meeting.parliament_id }}{{ gettext('th parliament') }} {% if meeting.session_id %}{{ meeting.session_id }}{{ gettext('th session') }}{% endif %} {% if meeting.sitting_id %}{{ meeting.sitting_id }}{{ gettext('th sitting') }}{% endif %} {{ meeting.committee }} - 대한민국 정치의 모든 것" />
<meta property="og:description" content="{% for issue in meeting.issues %}{{ issue.rsplit('(', 1)[0] }}{% if not loop.last %} / {% endif %}{% endfor %}" />
{% endblock %}

{% block breadcrumb_current %}
{{ meeting.id }}
{% endblock %}

{% block content %}
<div id="meeting-view" class="view">
    <div id="meeting-header" class="text-center entity-header grad">
        <div class="entity-info">
            {{ meeting.parliament_id }}{{ gettext('th parliament') }}
            {% if meeting.session_id %}{{ meeting.session_id }}{{ gettext('th session') }}{% endif %}
            {% if meeting.sitting_id %}{{ meeting.sitting_id }}{{ gettext('th sitting') }}{% endif %}
        </div>
        <h2>{{ meeting.committee }}</h2>
        {% block extra_subtitle %}
        {% endblock %}
        {% include 'social.html' %}
    </div>
    <div id="meeting-sections" class="sections">
        {% block meeting_content %}{% endblock %}
    </div>
</div>
{% endblock %}
