{% extends "meeting-layout.html" %}
{% block extra_headers %}
{% assets filters='less', output='build/meeting.%(version)s.css',
    depends=['**/*.less'], 'less/dialogue.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block meeting_content %}

<div class="ibox">
    <div class="ibox-title">
        <h5>회의록</h5>
        <div id="issue-box" class="pull-right">
        {% for row in meeting.dialogue %}
            {% if row.type=='issue' %}
            <a href="#{{ loop.index }}"><i class="fa fa-circle-o tooltipped" data-placement="left" data-title="{{ row.content }}"></i></a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="ibox-content">
        <div class="dialogue">
        {% with guids = guid_factory() %}
        {% for row in meeting.dialogue %}

            {% if row.type=='issue' %}
            <div id="{{ loop.index }}" class="issue hl-wrapper">
                {% for item in row.content.rsplit('(', 1) %}
                    {% if loop.first %}
                    <p class="no-margin">{{ item }}</p>
                    {% else  %}
                    <p class="indent-12 no-margin">({{ item }}</p>
                    {% endif %}
                {% endfor %}
                <div class="hidden-links"><a href="#{{ loop.index }}"><i class="fa fa-link">&nbsp;{{ gettext('link') }}</i></a></div>

            {% elif row.type=='statement' %}
            <div id="{{ row.id }}" class="statement hl-wrapper">
                <div class="speaker">
                    <!-- TODO: guess_person by name and input person_id to db -->
                    {% if row.person_id %}
                        {{ widgets.card(row.person_id, tiny=True)|safe }}
                    {% else %}
                        <div class="card card-tiny" style="border-color: #{{ guids(row.person)[1:7] }}; background-color: #{{ guids(row.person)[1:7] }}">
                            <img class="person-img " src="{{ url_for('static', filename='images/default_profile.jpg') }}" style="opacity: 0.4">
                        </div>
                    {% endif %}
                    <div class="person-name">{{ row.person }}</div>
                </div>
                <div class="content glossary">
                    {% for sentence in row.content.split('. ') %}
                    {{ sentence }}{% if not loop.last %}.{% if sentence and not sentence[-1].isdigit() %}<br>{% endif %}{% endif %}
                    {% endfor %}
                </div>
                <div class="hidden-links m-sm">
                    <a href="{{ url_for('statement', id=row.id) }}"><i class="fa fa-link"></i> 이 발언 따로보기</a>
                    <a href="#{{ row.id }}"><i class="fa fa-link"></i> {{ gettext('link') }}</a>
                </div>

            {% elif row.type=='time' %}
            <div id="{{ loop.index }}" class="time hl-wrapper">{{ row.content }}
                <div class="hidden-links"><a href="#{{ loop.index }}"><i class="fa fa-link">&nbsp;{{ gettext('link') }}</i></a></div>

            {% else %}
            <div id="{{ loop.index }}" class="unknown hl-wrapper">{{ row.content }}
                <div class="hidden-links"><a href="#{{ loop.index }}"><i class="fa fa-link">&nbsp;{{ gettext('link') }}</i></a></div>
            {% endif %}
            </div>
        {% endfor %}
        {% endwith %}
        </div>
    </div>
</div>

{% if not mobile %}
<script>
{{ glossary_js|safe }}
</script>
{% endif %}
{% endblock %}
