{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('meetings') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('meetings') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/submain.%(version)s.css',
    depends=['**/*.less'], 'less/submain.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block content %}
{% include 'includes/sidebar.html' %}
<div id="page-wrapper">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>달력으로 보는 국회 회의</h5>
            <span class="pull-right"><i class="fa fa-exclamation-triangle"></i> 회의록은 19대 국회부터 제공됩니다.</span>
        </div>
        <div class="ibox-content">
            <div class="calendar">
                <p id="year-num" class="year-num">
                    <a href="?year={{year - 1}}" class="btn"><i class="fa fa-angle-left"></i></a>
                    <span class="btn btn-primary">{{year}}</span>
                    <a href="?year={{year + 1}}" class="btn"><i class="fa fa-angle-right"></i></a>
                </p>
            </div>
            <div class="calendar">
                {{ widgets.year(year, meetings_of_the_year) | safe }}
            </div>
            <hr>
            {% if date %}
                {% if locale=='ko' %}
                <h4>{{ date.year }}년 {{ date.month }}월 {{ date.day }}일</h4>
                {% else %}
                <h4>{{ date.strftime("%B %d, %Y") }}</h4>
                {% endif %}
            {% endif %}

            {% if meetings_of_the_day %}
            <ul>
                {% for meeting in meetings_of_the_day %}
                <li><a href="{{ url_for('meeting', id=meeting.id) }}">{{ meeting.title }}</a>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
