{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('Parties') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('parties') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/party.%(version)s.css',
    depends=['**/*.less'], 'less/party.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block content %}
{% include 'includes/sidebar.html' %}
<div id="page-wrapper">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <span class="pull-right text-right">All parties: {{ macro.list_count(parties) }}</span>
                <h3 class="font-bold no-margins">{{ assembly_id }}대 국회 정당</h3>
                <small>국회에 의석이 하나라도 있는 정당 목록.</small>
            </div>
            <div id="party-list" class="itemlist">
            {% call(party) macro.list_pagenav(parties, pagesize=50) %}
                <a href="{{ url_for('party', id=party.id) }}">
                    <div class="party-card">
                        {% if party.logo %}
                        <img class="party-logo" src="{{ party.logo }}" title="{{ party.name }}">
                        {% else %}
                        <div class="default-logo">
                            <span class="party-name">{{ party.name|translit(type='party') }}</span>
                        </div>
                    {% endif %}
                    </div>
                </a>
            {% endcall %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
