{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('People') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('people') }}
{% endblock %}

{% block content %}
{% include 'includes/sidebar.html' %}
<div id="page-wrapper">
    <div class="row wrapper page-heading">
        <div class="col-lg-10">
            <h2>{{ assembly_id }}대 국회 인물</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"> 사진으로 의원만 보기</a></li>
                <li><a href="{{ url_for('person_main', assembly_id=assembly_id, type='list') }}"> 목록으로 모든 인물 보기</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="panel-body">
                        <span>{{ macro.list_count(officials, type='people') }}</span>
                        <div id="people-panel" class="span10">
                            <div class="itemlist float-list">
                                {% set items_per_page = 70 %}
                                {% if mobile %}
                                {% set items_per_page = 20 %}
                                {% endif %}
                                {% call(person) macro.list_more(officials, pagesize=items_per_page) %}
                                {{widgets.card(person)|safe}}
                                {% endcall %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
