{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('People') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('people') }}
{% endblock %}

{% block extra_headers %}
<!-- page css -->
{% assets filters='cssmin', output='build/datatables.%(version)s.css',
    'node_modules/datatables/media/css/jquery.dataTables.css',
    'node_modules/datatables-bootstrap3-plugin/media/css/datatables-bootstrap3.css',
    'css/datatables.css' %}
    <link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
<style>
.dataTable tbody tr {
    height: 60px;
}
</style>

<!-- page js -->
{% assets filters='uglifyjs', output='build/datatables.%(version)s.js',
    'node_modules/datatables/media/js/jquery.dataTables.js',
    'node_modules/datatables-bootstrap3-plugin/media/js/datatables-bootstrap3.js' %}
    <script src="{{ASSET_URL}}"></script>
{% endassets %}

<script>
$(document).ready(function() {
    var table_name = 'people_list';
    $('#people-list').dataTable({
        'processing': true,
        'serverSide': true,
        'ajax': '{{ url_for("people_list", assembly_id=assembly_id) }}',
        'filter': false,  // disable searchbox
        'order': [],  // disable initial sorting
        'asStripeClasses': '',
        'columns': [
            { 'data': 'image', 'orderable': false },
            { 'data': 'name' },
            { 'data': 'gender' },
            { 'data': 'birthday' },
            { 'data': 'cur_party' },
            { 'data': 'nelected' }
        ],
        'language': {
            'paginate': { 'previous': '', 'next': '' },
            'processing': '<div class="sk-spinner sk-spinner-pulse"></div>'
        }
    });

    // Add link to each row
    $('#people-list tbody').on('click', 'tr', function () {
        window.location.href = $(this).attr('id');
    });
});
</script>
{% endblock %}

{% block content %}
{% if not mobile %} {% include 'includes/sidebar.html' %} {% endif %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12 tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"> 목록으로 보기</a></li>
                <li><a href="{{ url_for('person_main', assembly_id=assembly_id, type='card') }}"> 사진으로 보기</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="panel-body">
                        <table id="people-list" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>사진</th>
                                    <th>이름</th>
                                    <th>성별</th>
                                    <th>출생연도</th>
                                    <th>소속정당</th>
                                    <th>총선 당선횟수</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
