{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('People') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('people') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/submain.%(version)s.css',
    depends=['**/*.less'], 'less/submain.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}

<!-- jPList -->
<script src="/static/js/jplist-core.min.js"></script>
<script src="/static/js/jplist.filter-toggle-bundle.min.js"></script>
<script src="/static/js/jplist.pagination-bundle.min.js"></script>
<script src="/static/js/jplist.counter-control.min.js"></script>

<script>
$('document').ready(function(){
    $('body').jplist({itemsBox: '.float-list ul', itemPath: 'li', panelPath: '.filters-panel'});
});
</script>
{% endblock %}

{% block content %}

<div id="search-tabs">
    {% if not mobile %}
    <img class="submain-img" src="{{ url_for('static', filename='images/people_image.png') }}">
    {% endif %}
    <div class="submain-nav">
        <img class="submain-title" src="{{ url_for('static', filename='images/people_text_%s.png'%locale) }}"><br>
        <ul class="nav nav-tiles">
             <!-- FIXME: range -->
             {% for assembly_id_ in range(1, 20) %}
             <li {% if assembly_id_ == assembly_id %}class="active"{% endif %}><a href="{{ url_for('person_main', assembly_id=assembly_id_) }}">{{ assembly_id_ }}{{ gettext('th') }}</a></li>
             {% endfor %}
         </ul>
    </div>
</div>

<div class="row">
    <div class="filters-panel span2">
        <span class="search-count" data-control-type="counter" data-control-action="counter" data-control-name="card-counter" data-format="{count} {{ gettext('persons') }}" data-path=".card" data-mode="filter" data-type="path"></span>

        <p class="filter-name">{{ gettext('gender') }}</p>
        <ul class="filter-group" data-control-type="checkbox-group-filter" data-control-action="filter" data-control-name="gender">
            <li><label><input data-path="div[data-attribute-gender='m']" id="male" type="checkbox" />{{ gettext('male') }}</label>
            <li><label><input data-path="div[data-attribute-gender='f']" id="female" type="checkbox" />{{ gettext('female') }}</label>
        </ul>

        <p class="filter-name">{{ gettext('age group') }}</p>
        <ul class="filter-group" data-control-type="checkbox-group-filter" data-control-action="filter" data-control-name="ages">
            <li><label><input data-path="div[data-attribute-ages='30']" id="30s" type="checkbox" />30{{ gettext('s and down') }}</label>
            <li><label><input data-path="div[data-attribute-ages='40']" id="40s" type="checkbox" />40{{ gettext('s') }}</label>
            <li><label><input data-path="div[data-attribute-ages='50']" id="50s" type="checkbox" />50{{ gettext('s') }}</label>
            <li><label><input data-path="div[data-attribute-ages='60']" id="60s" type="checkbox" />60{{ gettext('s') }}</label>
            <li><label><input data-path="div[data-attribute-ages='70']" id="70s" type="checkbox" />70{{ gettext('s and up') }}</label>
        </ul>

        <p class="filter-name">{{ gettext('party') }}</p>
        <ul class="filter-group" data-control-type="checkbox-group-filter" data-control-action="filter" data-control-name="party">
            {% for party in party_list %}
            <li><label><input data-path="a[title='{{ party.name }}']" id="party-{{ party.id }}" type="checkbox" />{{ party.name }}</label>
            {% endfor %}
        </ul>
    </div>
    <div id="people-panel" class="span10">
        {% set items_per_page = 70 %}
        {% if mobile %}
        {% set items_per_page = 20 %}
        {% endif %}

        <div class="float-list">
            {% call(person) macro.list_more(officials, pagesize=400) %}
            {{widgets.card(person)|safe}}
            {% endcall %}
        </div>

        <div class="jplist-no-results">
            <p>{{ gettext("No people found") }}</p>
        </div>

        <div class="filters-panel pagination-panel">
            <div class="jplist-pagination" data-control-type="pagination" data-control-name="paging" data-control-action="paging" data-items-per-page="{{ items_per_page }}"></div>
        </div>
    </div>
</div>
{% endblock %}
