{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('People') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('people') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/submain.%(version)s.css',
    depends=['**/*.less'], 'less/submain.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
<style>
#people-filters li { float: left; display: inline; margin-right: 5px; cursor: pointer; text-decoration: underline; }
#people-filters input { display: none; }
#people-list { clear: both; }
</style>
<script>
$(document).ready(function(){
    $("#people-filters label").click(function(){
        var attribute = $(this).find("input").attr("name");
		var value = $(this).find("input").attr("value");
		$("#people-list").load("/person/filters/?assembly_id={{ assembly_id }}&"+attribute+"="+value, function() {
		});
    });
});
</script>
{% endblock %}

{% block content %}
<div id="search-tabs">
    {% if not mobile %}
    <img class="submain-img" src="{{ url_for('static', filename='images/people_image.png') }}">
    {% endif %}
    <div class="submain-nav">
        <img class="submain-title" src="{{ url_for('static', filename='images/people_text_%s.png'%locale) }}"><br>
        <ul class="nav nav-tiles">
             <!-- FIXME: range -->
             {% for assembly_id_ in range(1, 20) %}
             <li {% if assembly_id_ == assembly_id %}class="active"{% endif %}><a href="{{ url_for('person_main', assembly_id=assembly_id_) }}">{{ assembly_id_ }}{{ gettext('th') }}</a></li>
             {% endfor %}
         </ul>
     </div>
</div>
{% if mobile %}
<div class="float-list">
    {{ macro.list_count(officials, type='people') }}
    {% call(person) macro.list_pagenav(officials) %}
    {{widgets.card(person)|safe}}
    {% endcall %}
</div>
{% else %}
<div id="people-filters">
{% for party in party_list %}
<li><label><input type="checkbox" name="party_id" value="{{ party.id }}">{{ party.name }}</label>
{% endfor %}

<li><label><input type="checkbox" name="gender" value="m">Male</label>
<li><label><input type="checkbox" name="gender" value="f">Female</label>
</div>
<div id="people-list">
    
        {% include 'people-list.html' %}
    </td>
</div>
{% endif %}
{% endblock %}
