{% extends "layout.html" %}

{% set has_bills = PersonController.bills_of(person).limit(1).all() %}
{% set party_history = PersonController.party_history(person) %}

{% block title %}
{{person.name|translit(type='name')}}{% if person.cur_party.name %} ({{person.cur_party.name|translit(type='party')}}){% endif %}{% if person.last_elected_no %}, {{gettext('Member of %(last_elected_no)dth National Assembly,', last_elected_no=person.last_elected_no)}}{% endif %} - {{super()}}
{% endblock %}

{% block breadcrumb_current %}
{{ person.name|translit(type='name') }}
{% endblock %}

{% block extra_headers %}
{{ super() }}

{% if not mobile %}
    {# TODO: get rid of person.less #}
    {% assets filters='less', output='build/person.%(version)s.css',
        depends=['**/*.less'], 'less/person.less' %}
    <link rel="stylesheet" href="{{ASSET_URL}}">
    {% endassets %}
{% endif %}
{% endblock %}

{% block content %}
<div id="person-view" class="view">
    <div id="person-header">
        {{ widgets.card(person, detailed=True)|safe }}
        {% include 'social.html' %}
    </div>
    <div id="person-sections" class="sections">
        <div id="section-profile" class="section">
            <h3 id="profile">
                {{ gettext('profile') }}
                <span class="shrink pull-right font-normal line-height-15"><i class="icon-exclamation-sign"></i>{{ gettext('Data in this section is based on latest election records, and therefore can be outdated.') }}</span>
            </h3>
            <table id="person-profile" class="table table-condensed">
                <tbody>
                    {% if person.birthday %}
                    <tr>
                        <th>{{ gettext("birthday") }}</th>
                        <td>{{ person.birthday_formatted|linkall|safe }}</td>
                    </tr>
                    {% endif %}
                    {% if party_history %}
                    <tr>
                        <th>{{ gettext("party") }}</th>
                        <td>
                            <ul class="unstyled nomargin">
                            {% for party, min_assembly_id, max_assembly_id in party_history %}
                                {% if loop.first %}
                                <li>
                                {% else %}
                                <li class="extra"><span class="search-count">{{ gettext('%(assembly_id)dth', assembly_id=min_assembly_id) }}{% if min_assembly_id != max_assembly_id %} - {{ gettext('%(assembly_id)dth', assembly_id=max_assembly_id) }}{% endif %}</span>
                                {% endif %}
                                    <a href="{{ url_for('party', id=party.id) }}">{{ party.name|translit(type='party') }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                    {% if person.education %}
                    <tr>
                        <th>{{ gettext("education") }}</th>
                        <td>
                            <span class="tooltipped tooltipped-delay" data-placement="bottom" data-title="{{gettext('original')}}: {{person_extra_vars.education}}">
                            {% for term, school_id in zip(person.education, person.education_id) %}
                            {% if school_id %}<a href="{{url_for('search', target='people', school_id=school_id)}}">{% endif %}{{term}}{% if school_id %}</a>{% endif %}
                            {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endif %}
                    {% if person.address_id %}
                    <tr>
                        <th>{{gettext('address')}}</th>
                        <td>
                            <span class="tooltipped tooltipped-delay" data-placement="bottom" data-title="{{gettext('original')}}: {{person_extra_vars.address}}">
                            {% for region, region_id in zip(person.address, person.address_id) %}
                                {% if region_id %}
                                    <a href="{{url_for('region', region_id=region_id)}}">{{region}}</a>
                                {% else %}
                                    {{region}}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if person_extra_vars.job or person_extra_vars.experience %}
                    <tr>
                        <th>{{ gettext("work experiences") }}</th>
                        <td>
                            {% if person_extra_vars.job %}
                            <span id="currentjob">
                                {{person_extra_vars.job}}
                            </span>
                            {% endif %}
                            {% if person_extra_vars.experience %}
                            <div id="experiences" class="extra">
                                {% for exp in person_extra_vars.experience %}
                                {{exp}}<br>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if mobile %}
                    <tr>
                        <th>
                            {{ gettext('legislations') }} {{ gettext('keywords') }}
                        </th>
                        <td>
                        {{ widgets.wordle(PersonController.keyword_counts(person), 200, 148)|safe }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if not mobile %}
                    <tr>
                        <th>
                            <p class="no-margin">{{ gettext("elections") }}</p>
                            <a href="#elections" class="shrink animated">[{{ gettext("more") }}]</a>
                        </th>
                        <td>
                            <div id="timeline">
                                {{widgets.timeline(person.id)|safe}}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if person.wiki %}
                    <tr>
                        <th>{{ gettext('external links') }}</th>
                        <td>
                            <p class="original-link">
                                <a href="http://ko.wikipedia.org{{ person.wiki }}">{{ gettext('Wikipedia') }}</a>
                                <a href="http://ko.wikipedia.org{{ person.wiki }}" target="_blank"><i class="icon-external-link"></i></a>
                            </p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if not mobile %}
            <div class="person-summary-vis">
            {{ widgets.kmap(person.address_id[0] if person.address_id else None, width=120)|safe }}
            {{ widgets.wordle(PersonController.keyword_counts(person), 200, 148)|safe }}
            </div>
            {% endif %}
        </div>
        {% if has_bills %}{% include 'person-legislations.html' with context %}{% endif %}
        {% include 'person-elections.html' with context %}
        {% if not mobile %}
        <div id="section-trends" class="section">
            <h3 id="trends">
                {{ gettext('trends') }}
            </h3>
            <i class="icon-exclamation-sign tooltipped pull-right" data-placement="bottom" data-title="{{ gettext('Results from Google Trends searched by query %(name)s', name=person.name) }}"></i>
            {% if not config['DEBUG'] %}
            <div id="google-trends">
                <script type="text/javascript" src="http://www.gmodules.com/ig/ifr?url=http%3A%2F%2Fwww.google.com%2Fig%2Fmodules%2Fgoogle_insightsforsearch_interestovertime_searchterms.xml&up__property=empty&up__search_terms={{ person.name }}&up__location=KR&up__category=0&up__time_range=12-m&up__compare_to_category=false&synd=open&w=640&h=150&lang={{lang}}&title=Google+%EA%B2%80%EC%83%89+%ED%86%B5%EA%B3%84&border=%23ffffff%7C3px%2C1px+solid+%23999999&output=js"></script>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="adsense">
        {% if not mobile %}
            {% include 'includes/adsense-728x90.html' %}
        {% endif %}
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $(".inline-box").colorbox({inline:true, width:"50%"});
});
</script>
{% endblock %}
