{% extends "layout.html" %}

{% set has_bills = PersonController.bills_of(person).limit(1).all() %}
{% set party_history = PersonController.party_history(person) %}

{% block title %}
{{person.name|translit(type='name')}}{% if person.cur_party.name %} ({{person.cur_party.name|translit(type='party')}}){% endif %}{% if person.last_elected_no %}, {{gettext('Member of %(last_elected_no)dth National Assembly,', last_elected_no=person.last_elected_no)}}{% endif %} - {{super()}}
{% endblock %}

{% block meta_headers %}
<meta property="og:title" content="{{ person.name|translit(type='name') }} - 대한민국 정치의 모든 것" />
<meta property="og:image" content="{{ person.image|default(url_for('static', filename='images/default_profile.jpg'), True) }}" />
<meta property="og:description" content="{% if person.birthday %}{{ person.birthday[:4] }}년생. {% endif %}{% if person.cur_party.name %}{{ person.cur_party.name|translit(type='party') }}.{% endif %}" />
{% endblock %}

{% block breadcrumb_current %}
{{ person.name|translit(type='name') }}
{% endblock %}

{% block extra_headers %}
{{ super() }}
{% if not mobile %}
    {# TODO: get rid of person.less #}
    {% assets filters='less', output='build/person.%(version)s.css',
        depends=['**/*.less'], 'less/person.less' %}
    <link rel="stylesheet" href="{{ASSET_URL}}">
    {% endassets %}
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/moreless.js') }}"></script>
{% endblock %}

{% block content %}
<div>
    <div class="row m-lg">
        <div class="col-md-6">
            <div class="profile-image">
                {{ widgets.card(person, detailed=True)|safe }}
            </div>
            <div class="profile-info">
                {% include 'person-profile.html' %}
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td><strong>154</strong> Tags</td>
                    <td><strong>32</strong> Friends</td>
                </tr>
                <tr>
                    <td><strong>154</strong> Tags</td>
                    <td><strong>32</strong> Friends</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if person.address_id %}
        <div class="col-md-3">
            <small>지역구</small>
            <h2 class="no-margins">{{ person.address[0] }}</h2>
            {{ widgets.kmap(person.address_id[0] if person.address_id else None, width=120)|safe }}
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ gettext('legislations') }}</h5>
                </div>
                <div class="ibox-content">
                    {% if has_bills %}{% include 'person-legislations.html' with context %}{% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 class="font-bold no-margin">{{ gettext('legislation keywords') }}
                        <small>최근 발의한 의안에서 추출된 키워드입니다.</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    {{ widgets.wordle(PersonController.keyword_counts(person), 200, 148) | safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>
                {{gettext('Statements')}}
                <small>최근 국회 내에서 한 말말말.</small>
            </h5>
        </div>
        <div class="ibox-content">
            {% include 'person-statements.html' with context %}
        </div>
    </div>

    {% if not mobile %}
    <div class="adsense">
        {% include 'includes/adsense-728x90.html' %}
    </div>
    {% endif %}

    <div class="ibox">
        <div class="ibox-title">
            <h5 id="elections">{{gettext('elections')}}</h5>
            <small class="pull-right"><i class="fa fa-exclamation-triangle"></i> {{ gettext("By-election results are coming soon!") }}</small>
        </div>
        <div class="ibox-content">
            {% include 'person-elections.html' with context %}
        </div>
    </div>

    {% if not mobile %}
    <div class="ibox">
        <div class="ibox-title">
            <h5 id="trends">{{ gettext('trends') }}</h5>
            <i class="icon-exclamation-sign tooltipped pull-right" data-placement="bottom" data-title="{{ gettext('Results from Google Trends searched by query %(name)s', name=person.name) }}"></i>
        </div>
        <div class="ibox-content">
            <div id="section-trends" class="section">
                {% if not config['DEBUG'] %}
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th></th>
                            <td id="google-trends">
                                <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q={{ person.name }}&tz&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=800&h=400"></script>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<script>
$(document).ready(function(){
    $(".inline-box").colorbox({inline:true, width:"50%"});
});
</script>
{% endblock %}
