{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('Regions') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('regions') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/submain.%(version)s.css',
    depends=['**/*.less'], 'less/submain.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block content %}
{% include 'includes/sidebar.html' %}
<div id="page-wrapper" class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">{{ gettext('base region') }}</h3>
                <small>지역 별 역대 국회의원 목록.</small>
            </div>
            {{ widgets.kmap(clickable=True)|safe }}

            {# fallback #}
            <!--[if lt IE 9]>
            {% call(province) macro.list_more(provinces, '', more=False) %}
            <a href="{{ url_for('region', region_id=province.id) }}">{{ province.name|translit }}</a>
            {% endcall %}
            <![endif]-->
        </div>
    </div>
</div>
{% endblock %}

