{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('Regions') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('regions') }}
{% endblock %}

{% block extra_headers %}
<style>
    svg.map text {
        font-size: 5pt !important;
    }
</style>
{% endblock %}

{% block content %}
{% if not mobile %} {% include 'includes/sidebar.html' %} {% endif %}
<div id="page-wrapper" class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div>
                <h3 class="font-bold no-margins">{{ gettext('base region') }}</h3>
                <small>지역 별 역대 국회의원 목록을 볼 수 있어요.</small>
            </div>
            {{ widgets.kmap(clickable=True) | safe }}

            {# fallback #}
            <!--[if lt IE 9]>
            {% call(province) macro.list_more(provinces, '', more=False) %}
            <a href="{{ url_for('region', region_id=province.id) }}">{{ province.name|translit }}</a>
            {% endcall %}
            <![endif]-->
        </div>
    </div>
</div>
{% endblock %}
