{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% set fullname = region.fullname %}

{% block title %}
{{ fullname }} - {{ super() }}
{% endblock %}

{% block breadcrumb_extra %}
{% for parent in region.parents %}
    <li><a href="{{ url_for('region', region_id=parent.id) }}">{{ gettext(parent.name) }}</a> <span class="divider">&gt;</span></li>
{% endfor %}
{% endblock %}

{% block breadcrumb_current %}
{{ fullname|translit }}
{% endblock %}

{% block card %}
{% if mobile %}
<h2 class="instance-name">{{ fullname }}</h2>
{% else %}
<div class="instance-card">
    <h2 class="instance-name">{{ fullname }}</h2>
    <img class="instance-img" src="{{ url_for('static', filename='images/default_region.png') }}">
</div>
{% endif %}
{% include 'social.html' %}
{% if not mobile %}
<ul id="region-section-tabs" class="nav section-tabs">
    {% if region.is_province %}
    <li class="active"><a href="#subregions">{{gettext('subregions')}}</a></li>
    {% else %}
    <li class="active"><a href="#chronicles">{{gettext('chronicles')}}</a></li>
    {% endif %}
    <li><a href="#people">{{gettext('related people')}}</a></li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
<div id="region-view" class="view">
    <div id="region-sections" class="sections">
        <div id="section-outline" class="section">
        {% if mobile %}
            {% if not region.is_submunicipality %}
                <h3 id="subregions">{{ gettext('subregions') }}</h3>
                {% for child in region.children %}
                <a href="{{ child.url }}">{{ child.name }}</a>
                {% endfor %}
            {% endif %}

            <!-- FIXME: 19 -->
            {% if not region.is_province %}
            <h3 id="chronicles">{{ gettext('chronicles') }}</h3>
            <table id="region-people" class="table table-condensed">
                <tbody>
                    {% set officials_grouped_by_assembly_id = region.officials_grouped_by_assembly_id() %}
                    {% for assembly_id in range(19, 0, -1) %}
                    <tr>
                        <th>{{ assembly_id }}{{ gettext('th') }}</th>
                        <td>
                           {% set officials = officials_grouped_by_assembly_id.get(assembly_id) %}
                            {% if officials %}
                            <ul class="float-list">
                                {% for official in officials %}
                                <li>
                                    {{ widgets.card(official)|safe }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            {{ gettext('No officials') }}
                            {% endif %}
                       </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <h3 id="people">{{ gettext('related people') }}</h3>
            <h4 class="subsection-title">
                {{ gettext('Candidates') }}
                <small>{{ macro.list_count(region.candidates, type='people') }}</small>
            </h4>
            {{ macro.people_list_more(region.candidates, url_for('search', target='people', candidacy_region_id=region.id)) }}
            <h4 class="subsection-title">
                {{ gettext('Residents') }}
                <small>{{ macro.list_count(region.residents, type='people') }}</small>
            </h4>
            {{ macro.people_list_more(region.residents, url_for('search', target='people', residence_region_id=region.id)) }}
        {% else %}
            {% if region.is_province %}
                <h3 id="subregions">{{ gettext('subregions') }}</h3>
                {% for child in region.children %}
                <a href="{{ child.url }}">{{ child.name }}</a>
                {% endfor %}
            {% else %}
            <h3 id="chronicles">{{ gettext('chronicles') }}</h3>
            <table id="region-chronicles" class="table table-condensed">
                <tbody>
                    <!-- FIXME: 19 -->
                    {% set officials_grouped_by_assembly_id = region.officials_grouped_by_assembly_id() %}
                    {% for assembly_id in range(19, 0, -1) %}
                    <tr>
                        <th class="assembly-id">{{ assembly_id }}{{ gettext('th') }}</th>
                        <td>
                            {% set officials = officials_grouped_by_assembly_id.get(assembly_id) %}
                            {% if officials %}
                            <ul class="float-list">
                                {% for official in officials %}
                                <li>
                                    {{ widgets.card(official)|safe }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            {{ gettext('No officials') }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <h3 id="people">{{ gettext('related people') }}</h3>
            <table id="region-people" class="table table-condensed">
                <tbody>
                    <tr>
                        <th>{{ gettext('Candidates') }}
                            <br>{{ macro.list_count(region.candidates, type='people') }}</th>
                        <td colspan="2">{{ macro.people_list_more(region.candidates, url_for('search', target='people', candidacy_region_id=region.id)) }}</td>
                    </tr>
                    <tr>
                        <th>{{ gettext('Residents') }}
                            <br>{{ macro.list_count(region.residents, type='people') }}</th>
                        <td colspan="2">{{ macro.people_list_more(region.residents, url_for('search', target='people', residence_region_id=region.id)) }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
