{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% set fullname = region.fullname %}

{% block title %}
{{ fullname }} - {{ super() }}
{% endblock %}

{% block meta_headers %}
<meta property="og:title" content="{{ fullname }} - 대한민국 정치의 모든 것" />
{% endblock %}

{% block breadcrumb_extra %}
{% for parent in region.parents %}
    <li><a href="{{ url_for('region', region_id=parent.id) }}">{{ gettext(parent.name) }}</a> </li>
{% endfor %}
{% endblock %}

{% block breadcrumb_current %}
{{ fullname|translit }}
{% endblock %}

{% block content %}
<div class="row m-lg">
    <div class="col-lg-3">
        <h2 class="region-name">{{ fullname }}</h2>
        {{ widgets.kmap(region.id[:2], width=120)|safe }}
    </div>
    <div class="col-lg-9">
        <div class="ibox">
            {% if region.is_province %}
            <div class="ibox-title">
                <h5>
                    {{ gettext('subregions') }}
                    <small>우리 동네의 역대 국회의원들을 살펴볼까요?</small>
                </h5>
            </div>
            <div class="ibox-content">
                {% for child in region.children %}
                <a class="btn btn-default btn-rounded btn-sm m-b-sm" href="{{ child.url }}">{{ child.name }}</a>
                {% endfor %}
            </div>
            {% else %}
            <div class="ibox-title">
                <h5 id="chronicles">{{ gettext('chronicles') }}</h5>
            </div>
            <div class="ibox-content">
                <table id="region-chronicles" class="table table-condensed no-t-b">
                    <tbody>
                        {% set officials_grouped_by_assembly_id = RegionController.officials_grouped_by_assembly_id(region.id) %}
                        {% for assembly_id in range(THIS_ASSEMBLY, 0, -1) %}
                        <tr>
                            <th class="assembly-id">{{ assembly_id }}{{ gettext('th') }}</th>
                            <td>
                                {% set officials = officials_grouped_by_assembly_id.get(assembly_id) %}
                                {% if officials %}
                                <ul class="float-list">
                                    {% for official in officials %}
                                    <li>
                                        {{ widgets.card(official)|safe }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                {{ gettext('No officials') }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5 id="people">{{ gettext('related people') }}</h5>
            </div>
            <div class="ibox-content">
                <table id="region-people" class="table table-condensed no-t-b min-w-100">
                    <tbody>
                        <tr>
                            <th>{{ gettext('Candidates') }}
                                {{ macro.list_count(region.candidates, type='people') }}</th>
                            <td colspan="2">{{ macro.people_list_more(region.candidates, url_for('search', target='people', candidacy_region_id=region.id)) }}</td>
                        </tr>
                        <tr>
                            <th>{{ gettext('Residents') }}
                                {{ macro.list_count(region.residents, type='people') }}</th>
                            <td colspan="2">{{ macro.people_list_more(region.residents, url_for('search', target='people', residence_region_id=region.id)) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
