{% extends "layout.html" %}

{% block title %}
{{ statement.speaker }}의 발언 - {{ super() }}
{% endblock %}

{% block meta_headers %}
<meta property="og:title" content="발언 - 대한민국 정치의 모든 것" />
<style>
.speaker h3 a:hover {
    color: #23527c;
}
.statement {
    line-height: 180%;
    font-size: 11pt;
    padding: 15px;
}
</style>
{% endblock %}

{% block breadcrumb_current %}
{{ statement.id }}
{% endblock %}

{% block content %}
<div class="row m-lg contact-box">
    <div class="col-md-2 text-center">
        <div class="speaker">
            <!-- TODO: guess_person by name and input person_id to db -->
            {% with guids = guid_factory() %}
            {% if statement.person_id %}
                {{ widgets.card(statement.person_id, tiny=True)|safe }}
            {% else %}
                <div class="card card-tiny" style="border-color: #{{ guids(statement.person)[1:7] }}; background-color: #{{ guids(statement.person)[1:7] }}">
                    <img class="person-img " src="{{ url_for('static', filename='images/default_profile.jpg') }}" style="opacity: 0.4">
                </div>
            {% endif %}
            {% endwith %}
            <h3>
                {% if statement.person_id %}
                <a href="{{ url_for('person', id=statement.person_id) }}">{{ statement.speaker }}</a>
                {% else %}
                {{ statement.speaker }}
                {% endif %}
            </h3>
        </div>
        <p class="date">{{ statement.date }}</p>
    </div>
    <div class="col-md-8 statement glossary">
        <!-- TODO: functionize (cf. U.S. 등 유의!)-->
        {% for sentence in statement.content.split('. ') %}
        {{ sentence }}{% if not loop.last %}.{% if sentence and not sentence[-1].isdigit() %}<br>{% endif %}{% endif %}
        {% endfor %}
    </div>
    <div class="col-md-2">
        <a class="btn btn-info" href="{{ url_for('meeting_dialogue', id=statement.meeting_id) }}#{{ statement.id }}">대화 맥락 보기</a>
    </div>
</div>

{% if not mobile %}
<script>
{{ glossary_js|safe }}
</script>
{% endif %}
{% endblock %}
