# -*- coding: utf-8 -*-

# Site settings
FEEDBACK_URL = 'https://github.com/teampopong/pokr.kr/issues'

# Current assembly_id
THIS_ASSEMBLY = 20

# Server
DEBUG = False
SCRIPT_NAME = '/'

# I18n
BABEL_DEFAULT_LOCALE = 'ko'
BABEL_DEFAULT_TIMEZONE = 'KST'

# Cache
CACHE_CONFIG = {
    'CACHE_TYPE': 'memcached',
    'CACHE_KEY_PREFIX': 'pokr',
    'CACHE_MEMCACHED_SERVERS': ['127.0.0.1:11211'],
}

# Redis
# FIXME: remove dep.
REDIS_SETTINGS = {
}
REDIS_KEYS = {
    'insert_bills_db': 'insert_bills_db'
}

# Database

# Social logins
SECRET_KEY = 'some-secret-key' # autogenerate this
SOCIAL_AUTH_LOGIN_URL = '/'
SOCIAL_AUTH_LOGIN_REDIRECT_URL = '/done/'
SOCIAL_AUTH_USER_MODEL = 'pokr.models.user.User'
SOCIAL_AUTH_AUTHENTICATION_BACKENDS = (
    'social.backends.facebook.FacebookOAuth2',
)

SOCIAL_AUTH_FACEBOOK_KEY = ''
SOCIAL_AUTH_FACEBOOK_SECRET = ''
SOCIAL_AUTH_FACEBOOK_SCOPE = ['email', 'user_about_me']
SOCIAL_AUTH_FACEBOOK_EXTRA_DATA = ['name']

# Paths
BILLJSON_DIR = './bills/json'
BILLPDF_DIR = './bill-docs/pdf'
BILLTXT_DIR = './bill-docs/txt'
MEETINGPDF_DIR = './meeting-docs'
