# -*- coding: utf-8 -*-


STOPWORDS = [stopword.strip().decode('utf-8') for stopword in '''
경우
조제
조의
지원
사업
법률
위원회
특별
지급
관리
등록
설치
행위
이하
국회
이상
기금
비용
위원
수급
후보자
해당
운영
사용
자치
지정
일부
사항
제공
보호
피해자
수당
제출
자료
계약
추천
계획
사업자
개발
수입
부장
금액
업무
이용
납부
조사
미만
요구
발생
검사
업자
the
한정
표시
'''.split('\n') if stopword]
