[submodule "static/js/graphlib"]
	path = static/js/graphlib
	url = https://dev.popong.com/repos/popong-graphlib.git
[submodule "utils/nlp"]
	path = utils/nlp
	url = https://dev.popong.com/repos/nlp.git
