[submodule "static/js/graphlib"]
	path = pokr/static/js/graphlib
	url = https://github.com/teampopong/graphlib.git
[submodule "utils/nlp"]
	path = utils/nlp
	url = https://github.com/teampopong/nlp.git
