Babel==0.9.6
Flask==0.9
Flask-Assets==0.8
Flask-Babel==0.8
Flask-Cache==0.12
Flask-Login==0.2.7
Flask-SQLAlchemy==0.16
SQLAlchemy==0.8.1
Werkzeug==0.8.3
alembic==0.5.0
cssmin==0.2.0
pandas>=0.10
psycopg2==2.4.5
python-memcached==1.53
python-social-auth==0.1.13
simplejson==2.1.2
html5lib==0.95
hangul.translit==0.1.1
gevent==0.13.7
regex==2014.02.19
redis==2.9.1
Unidecode==0.04.14
-e git+https://github.com/teampopong/popong-nlp.git
