# Setuptools MUST come first
setuptools==9.1
nltk==3.0.1
Babel==0.9.6
Flask-Assets==0.12
Flask-Babel==0.8
Flask-Cache==0.12
Flask-Login==0.2.7
Flask-SQLAlchemy==0.16
Flask==0.9
SQLAlchemy==0.9.8
Werkzeug==0.8.3
alembic==0.6.7
cssmin==0.2.0
konlpy==0.4.3
oauthlib==3.0.0
python-memcached==1.53
python-social-auth==0.1.13
redis==2.9.1
