#!/usr/bin/env python
# -*- encoding: utf-8 -*-

SCRIPT_NAME = '/'
API_SCRIPT_NAME = '/'

SERVER_SETTINGS = {
        'host': '0.0.0.0',
        'port': 50029,
        'debug': True,
        'use_reloader': False,
        }

API_SERVER_SETTINGS = {
        'host': '0.0.0.0',
        'port': 50031,
        'debug': True,
        }

BABEL_SETTINGS = {
        'default_locale': 'ko',
        'default_timezone': 'KST',
        }

POSTGRES_SETTINGS = {
        'dialect': 'postgresql',
        'driver': 'psycopg2',
        'host': 'localhost',
        'id': '', # fill this
        'password': '', # fill this
        'db': 'popongdb',
        }

sqlalchemy_uri = '{dialect}+{driver}://{id}:{password}@{host}/{db}'.format(**POSTGRES_SETTINGS)
