<% _.each(sections, function (members, section) { %>
	<% if (!section) return; %>
	<div class="section" id="section-<%= section %>">
		<p class="section_name"><%= section %></p>
		<ul>
		<% _.each(members, function (member) { %>
			<li id="<%= member.name_kr %>">
			<div class="member">
				<div class="col"><img class="photo" src="<%= member.image %>" /></div>
				<div class="col">
					<span class="name"><%= member.name_kr %></span>
					<span><span class="fieldname">출생</span><span class="birth"><%= member.birth %></span></span>
					<span><span class="fieldname">소속</span><span class="party"><%= member.party %></span></span>
					<span><span class="fieldname">지역구</span><span class="district"><%= member.district %></span></span>
					<span><span class="fieldname">소속위원회</span><span class="committee"><%= member.committee_summarized %></span></span>
					<span><span class="fieldname">이메일</span><span class="email"><%= member.email %></span></span>
				</div>
			</div>
			</li>
		<% }); %>
		</ul>
	</div>
	<div class="clear"></div>
<% }); %>
