#bill-name {
    margin-bottom: 30px;
}

#bill-summary {
    position: relative;
    background: white;
    padding: 0;
    border: 0;
}

.original-link [class^="icon-"] {
    color: #08c;
}

#cosponsor-parties {
    height: 180px;
}
