///// variables /////
@link_color     : #08c;
@hover_color    : #058;
@bg_color       : #4f4f4f;
@container_color: white;
@icon_color     : silver;
@text_color     : #333;
@border_color   : rgba(0,0,0,0.2);

///// mixins /////
.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    *behavior: url(/static/boxsizing.htc);
}

.border-radius (@radius: 5px) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.border-radius (@tl: 5px, @tr: 5px, @br: 5px, @bl: 5px) {
    border-radius: @arguments;
    -moz-border-radius: @arguments;
    -webkit-border-radius: @arguments;
}

.width-calc (@exp, @fallback) {
    width: @fallback;
    width: -webkit-calc(@exp);
    width: -moz-calc(@exp);
    width: calc(@exp);
}

.box-shadow {
    box-shadow: 1px 1px rgba(192, 192, 192, 0.08);
}

.inner-shadow {
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.05);
}

.framed {
    border: 1px solid @border_color;
    .border-radius(3px);
    .border-box;
    .inner-shadow;
}

.inline-block {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.text-center {
    text-align: center;
}

.absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.clear {
    clear: both;
}
