@import "includes";

#card-container {
    width: 0;
}

#spec-container {
    left: 0;

    #class-list {
        background-color: lighten(@top_color, 3%);
        margin-top: 20px;
        padding: 30px;
    }

    #dashboard {
        padding: 30px;

        h2 {
            border-bottom: 2px solid @icon_color;
            color: @bg_color;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 30px;
            text-align: left;
        }
        .mainlist {
            padding: 0 20px;
            text-align: center;
            height: 400px;
        }
    }
}
