#member-view {
    overflow-x: hidden;
}

#member-profile th {
    width: 15%;
    max-width: 80px;
    min-width: 60px;
}

#member-profile tr:first-child th,
#member-profile tr:first-child td {
    border-top: 0;
}

#trends {
    width: 650px;
    margin-top: 10px;

    table {
        tr:first-child,
        tr:last-child {
            display: none;
        }

        td > div {
            background: transparent !important;
            border: 0 !important;
        }
    }
}


///// media queries /////
@media all and (max-width: 979px) {
    #trends {
        display: none;
    }

    .mobile-icon-large::before {
        font-size: 1.3333333333333333em;
    }
}
