@import "card";
@import "includes";
@import "bootstrap-custom";
@import "search";

///// general
tr:first-child th,
tr:first-child td {
    border-top: 0;
}

th {
    white-space: normal;
}

th:first-child {
    width: 23%;
}

.has-border {
    tr:first-child th,
    tr:first-child td {
        border-top: 1px solid #ddd;
    }
}

h4.subsection-title {
    background: whitesmoke;
    font-weight: normal;
    text-align: center;
}

///// layout
body {
    background-color: @bg_color;
}

#header {
    background-color: @bg_color;
    text-align: center;

    h1 {
        margin: 10px 0 10px;
        text-align: center;
    }

    .logo {
        width: 50%;
    }

    form {
        width: 80%;
        margin: 0 auto 7px;
    }

    #header-top {
        background-color: @top_color;
        .border-radius;
        margin: 5px 0;
        padding-bottom: 5px;
    }

    .breadcrumb {
        background-color: @container_color;
        text-align: left;
    }
}

#container {
    background-color: white;
    margin-top: -30px;
    padding-top: 30px;
    .view {
        min-width: auto;
        h3 {
            color: olivedrab;
        }
    }
    #card-container {
        text-align: center;
    }
}

.float-list {
    ul {
        list-style: none;
        margin-left: 0;
    }
    li {
        .inline-block;
    }
}

.itemlist ul {
    position: relative;
    margin: 0 5%;
    padding: 0;
    border: 1px solid @border_color;
    .border-radius;
    .border-box;

    font-size: 13pt;
}

.itemlist li {
    position: relative;
    border-top: 1px solid @border_color;
    list-style: none;
    margin-left: 0;
    .border-box;

    &:first-child {
        border-top: 0;
    }

    a {
        display: block;
        padding: 10px;
        color: #333;

        &:hover {
            color: #333;
            text-decoration: none;
            background: #bbb;
        }
    }
}

.badge-elected {
    width: 20px;
}

.card {
    margin: 3px 0 0 1px;
}

.pagenav {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    .border-box;

    .btn-prev {
        position: absolute;
        top: 0;
        left: 10px;
    }

    .btn-next {
        position: absolute;
        top: 0;
        right: 10px;
    }
}

.permalink {
    display: none;
}

.social-sends {
    text-align: center;
    div {
        display: inline-block;
        text-align: center;
        width: 100px;
    }
}

///// bill.html
.original-link {
    text-align: center;
}

///// parties.html
#party-list {
    ul,
    li {
        border: none;
    }
}

///// person.html
#person-view {
    .btn-show-pledge {
        display: none;
    }

    #proposed_date {
        width: 15%;
    }
}
