@import "includes.less";

@active_tile_bgr_color: #0088cc;
@active_tile_text_color: white;

.nav-tiles {
    li {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        text-align: center;
        margin-right: -6px;
        margin-bottom: -2px;
        a {
            line-height: 30px;
            border: 2px solid #EEE;
            transition: .5s linear;
            &:hover {
                transition: 0;
            }
        }
    }
    li.active {
        background: @active_tile_bgr_color;
        a {
            border-color: @active_tile_bgr_color;
            color: @active_tile_text_color;
            &:hover {
                background: @active_tile_bgr_color;
            }
        }
    }
}

#search-view {
    ul {
        list-style: none;
        margin-left: 0;
    }
    li {
        .inline-block;
    }
}

#search-options {
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    padding: 0 10px;

    .accordion-toggle {
        color: #333;
        font-weight: bold;
        padding: 3px 0 3px 3px;

        &:hover {
            text-decoration: none;
        }
    }

    .accordion-inner {
        padding: 0 0 0 3px;
    }
}

#search-party {
    position: relative;
    width: 100%;
    .border-box;
    border: 1px solid #999;

    ul {
        display: block;
        height: 150px;
        margin: 0;
        list-style: none;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .select-party {
        position: relative;
        line-height: 22px;
    }

    .party-size {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        color: #999;
        font-size: 9pt;
        text-align: right;
    }
}

#applied-options {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
}
