@import "includes";

@card_width: 100px;
@card_height: 70px;

#card-container {
    width: 0;
}

#spec-container {
    left: 0;
}

.itemlist {
    ul {
        margin: inherit;
        li {
            list-style-type: none;
            display: inline-block;
       }
    }
}

.submain-img {
    float:left;
    margin-right: 20px;
}

.submain-nav {
    margin-top: 40px;
}

///// bills.html
div#bill-list table {
    td:last-child {
        width: 15%;
    }
}

///// parties.html
div.party-card {
    width: @card_width;
    height: @card_height;
    border: 1px solid #EEE;
    .border-box;
    margin: 5px auto;

    .party-logo {
        width: 100%;
        height: 100%;
    }

    .default-logo {
        background-image: url('../images/default_party.jpg');
        background-size: @card_width @card_height;
        .bgsize;
        line-height: @card_height;
        width: 100%;
        height: 100%;

        span.party-name {
            color: @bg_color;
            width: 100%;
            font-size: 13pt;
            font-weight: bold;
            text-align: center;
            margin: 0 auto;
            display: inline-block; 
            vertical-align: middle;
            line-height: 20px;
        }
    }
}

#search-tabs {
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid @layout_border_color;
}
