svg rect {
	fill: #B0E2FF;
	stroke: #A2B5CD;
}

svg rect:hover {
	fill: #87CEFA;
}

svg circle.event {
	fill: #FFB6C1;
	stroke: #FF1493;
}

svg line.event {
	stroke: #FF1493;
}

svg text {
	font-size: 11px;
}
