{% extends "layout.html" %}

{% block extra_headers %}
<link rel="stylesheet/less" href="{{ url_for('people.static', filename="less/people.less") }}">
<script src="//popong.com/static/js/less-1.3.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="people-leftnav border-box">
	<h1><a href="{{ url_for('people.main') }}"><img src="{{ url_for('static', filename='images/logo-polidic-300-alpha-noshadow.png') }}"></a></h1>
	<p align='right'>v0.1</p>
	<form id="member-search-form" action="{{ url_for("people.main") }}" style="margin-bottom: 10px;">
		<input type="text" name="q" autocomplete="on" class="search-query border-box" placeholder="{{ gettext("search") }}" style="width: 100%; padding: 12px 14px;">
	</form>
	<strong>최근 검색된 정치인</strong>
	<ul class="nav nav-list">
		{% if recent_people %}
		{% for person in recent_people %}
		<li><a href="{{url_for('people.person', id_=person.id)}}">{{person.name_kr}} ({{person.party}})</a></li>
		{% endfor %}
		{% endif %}
	</ul>
	<div style="position: fixed; bottom: 20px;">
		<small>&copy; 2011-2012 <a href="http://popong.com/">team POPONG</a></small>
	</div>
</div>
<div style="position: relative; margin-left: 200px;">
	<div id="member-search">
		{% block people_content %}
		{% endblock %}
	</div>
</div>
<div class="people-rightnav border-box">
	<div id="people-recommendation">
		{% block people_recommendation%}
		{% endblock %}
	</div>
</div>
{% endblock %}
