body {
    position: relative;
    width: 100%;
}

.absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

#content {
    margin-top: 70px;
    margin-bottom: 30px;
}

.header {
    padding-bottom: 0;
    margin-bottom: 9px;
}

.section {
    padding-top: 20px;
}

.footer {
    margin-top: 45px;
    padding: 15px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.text-center {
    text-align: center;
}

.inline-block {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.clear {
    clear: both;
}

@media all and (max-width: 979px) {
        #content {
                margin-top: 0px;
        }
}

