<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}POPONG{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- styles -->
		{% assets filter="cssmin", output="build/basecss.%(version)s.css"
			, "css/bootstrap.min.css"
			, "css/bootstrap-responsive.min.css"
			, "css/font-awesome.css"
			, "css/layout.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}" />
		{% endassets %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block extra_headers %}
        {% endblock %}
    </head>
    <body>
        <!-- START top navbar -->
        <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
        <ul id="menu" class="nav">
        {% for m in menus %}
			<li class="menu-item {% if m.name == menu %}active{% endif %} "><a href="{{ m.url }}">{{ m.title }}</a></li>
        {% endfor %}
        </ul>
        </div>
        </div>
        </div>
        <!-- END top navbar -->

        <div id="content" class="container">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
