# -*- coding: utf-8 -*-

# File Storage
BILLJSON_DIR = './bills/json'
BILLPDF_DIR = './bill-docs/pdf'
BILLTXT_DIR = './bill-docs/txt'


# Redis
REDIS_SETTINGS = {
}
REDIS_KEYS = {
    'insert_bills_db': 'insert_bills_db'
}


# Postgres
POSTGRES_SETTINGS = {
        'dialect': 'postgresql',
        'driver': 'psycopg2',
        'host': 'localhost',
        'id': '', # fill this
        'password': '', # fill this
        'db': 'popongdb',
        }
SQLALCHEMY_URI = '{dialect}+{driver}://{id}:{password}@{host}/{db}'.format(**POSTGRES_SETTINGS)
