# -*- coding: utf-8 -*-

# Storage
BASEDIR = './data'
BILLDOC_DIR = './docs'
DIRS = {
    'data': BASEDIR + '/json',
}


# Namespaces
REDIS_SETTINGS = {
}
REDIS_KEYS = {
    'insert_bills_db': 'insert_bills_db'
}
