svg {
	rect {
		fill: #B0E2FF;
		stroke: #A2B5CD;

		&:hover {
			fill: #87CEFA;
		}
	}

	circle.event {
		fill: #FFB6C1;
		stroke: #FF1493;
	}

	line.event {
		stroke: #FF1493;
	}

	text {
		font-size: 11px;
	}
}
