<div id="member_info_<%= name_kr %>" class="member_panel" >
	<center><img class="photo" src="<%= image %>" /></center>
	<div class="member_info">
		<div><div class="name"><%= name_kr %></div></div>
		<div><div class="fieldname">출생</div><div class="birth"><%= birth %></div></div>
		<div><div class="fieldname">소속</div><div class="party"><%= party %></div></div>
		<div><div class="fieldname">지역구</div><div class="district"><%= district %></div></div>
		<div><div class="fieldname">소속위원회</div><div class="committee"><%= committee %></div></div>
		<div><div class="fieldname">이메일</div><div class="email"><%= email %></div></div>
	</div>
</div>
