<div id="member_info_<%= name_kr %>" class="member_panel" >
	<center><img class="photo" src="<%= image %>" /></center>
	<div class="member_info">
		<div><div class="name"><%= name_kr %></div></div>
		<div><div class="fieldname">출생</div><div class="birth fieldval"><%= birth %></div></div>
		<div><div class="fieldname">소속</div><div class="party fieldval"><%= party %></div></div>
		<div><div class="fieldname">지역구</div><div class="district fieldval"><%= district %></div></div>
		<div><div class="fieldname">소속위원회</div><div class="committee fieldval"><%= committee %></div></div>
		<div><div class="fieldname">이메일</div><div class="email fieldval"><%= email %></div></div>
		<div>
			<div class="fieldname">유사한 의원</div>
			<div class="similars fieldval">
				<% _.each(similars, function (tuple, i) { %>
				<%= tuple[0] %>: <%= (''+tuple[1]).substr(0, 5) %><br>
				<% }); %>
			</div>
		</div>
	</div>
</div>
