#intimacy {
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
}

#container2 {
	float: left;
	width: 100%;
	background: #f5f5ff;
	overflow: hidden;
	position: relative;
}

#container1 {
	float: left;
	width: 100%;
	background: #fff;
	position: relative;
	left: 220px;
}

#col1 {
	float: left;
	width: 209px;
	border-right: 1px solid #bbb;
	position: relative;
	left: -220px;
	padding: 10px 0 10px 10px;
}

#col2 {
	float: left;
	position: relative;
	left: -210px; /* 10px for margin */
	padding: 10px 0 10px 0;
}

#shortcuts {
	width: 86px;
	float: left;
	margin: 0;
	padding-top: 18px;
}

#shortcuts .party {
	text-align: right;
	margin: 0 0 14px 0;
}

#shortcuts .party a {
	padding: 4px;

	background: #efe;

	border: 1px solid #aaa;
	border-right: none;
	border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;

	color: #000;
	text-decoration: none;
}

#member-list {
	width: 110px;
	height: 400px;
	background: #fff;
	border: 1px solid #aaa;
	border-right: none;
	overflow-y: auto;
}

#member-list ul {
	margin: 0;
	padding: 5px;

	list-style: none;
	line-height: 1.7em;
}

#member-list li {
	color: #000;
}

#member-list li.party:first-child {
	margin-top: 0;
}

#member-list li.party {
	margin-top: 5px;
	font-weight: bold;
}

#member-list li.member {
	margin-left: 5px;
}

#member-list li.member.selected {
	background: #ddf;
}
