{% if locale=='ko' %}
    <a id="barometer_tab" href="https://www.facebook.com/groups/565015130212543/" target="_blank">아이디어 제안하기</a>
{% else %}
    {% if not mobile %}
    <!-- barometer start -->
    <script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
    <script type="text/javascript" charset="utf-8">
            BAROMETER.load('zh9X6XtA1xrp6zLRRzXpB');
    </script>
    <!-- barometer end -->
    {% endif %}
{% endif %}
