<div id="footer">
    <p id="copyright">&copy; 2011-2013 <a href="http://popong.com/">Team POPONG</a>. All right reserved.</p>
    <p id="feedback-plea">{{ gettext("For any questions, problems and suggestions, please click the 'Feedback' button above.") }}</p>
    <p id="sources">
        (<a href="http://github.com/teampopong/polidic">{{ gettext("code") }}</a>, 
        <a href="http://popong.com/sources">{{ gettext("data") }}</a>
        {{ gettext("sources") }})
    </p>
</div>
<img class="absolute-top-right" src="{{ url_for('static', filename="images/banner-alpha-right-90.png") }}">

<script>
$('input#search').typeahead({
	name: 'people_names',
	prefetch: "{{url_for('person_all_names')}}"
});
</script>

<!-- barometer start -->
<script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
<script type="text/javascript" charset="utf-8">
	BAROMETER.load('zh9X6XtA1xrp6zLRRzXpB');
</script>
<!-- barometer end -->
