<div id="footer">
    <p id="copyright">&copy; 2013 <a href="http://popong.com/">Team POPONG</a>.</p>
    {% if not mobile %}
    <p>
        <a href="{{ url_for('terms') }}" target="_blank">Terms</a> |
        <a href="{{ url_for('privacy') }}" target="_blank">Privacy</a>
    </p>
    <p id="sources">
        (<a href="http://github.com/teampopong/polidic">{{ gettext("code") }}</a>, 
        <a href="http://popong.com/sources">{{ gettext("data") }}</a>
        {{ gettext("sources") }})
    </p>
    {% endif %}
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
</div>

{% if not mobile %}
<script>
if (typeof $.fn.typeahead == 'function') {
    $('input#search').typeahead({
        name: 'people_names',
        prefetch: "{{url_for('person_all_names')}}"
    });
}
</script>
{% endif %}
