<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{asset('css/bootstrap-responsive.min.css')}}">
<link rel="stylesheet" href="{{asset('css/font-awesome.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/barometer.css')}}">
<link rel="stylesheet/less" href="{{url_for('static', filename="less/polidic.less")}}">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="{{url_for('static', filename='js/json2.js')}}"></script>
<script src="{{url_for('static', filename='js/localstorageshim.min.js')}}"></script>
<![endif]-->

<script src="{{url_for('static', filename='js/jquery-1.8.3.js')}}"></script>
<script src="{{asset('js/mustache.js')}}"></script>
<script src="{{asset('js/bootstrap-collapse.js')}}"></script>
<script src="{{asset('js/bootstrap-tooltip.js')}}"></script>
<script src="{{asset('js/bootstrap-transition.js')}}"></script>
<script src="{{url_for('static', filename='js/typeahead.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popong.js')}}"></script>
<script src="{{url_for('static', filename='js/polidic.js')}}"></script>
