{% extends "layout.html" %}

{% block title %}
{{ super() }} - 홈
{% endblock %}

{% block content %}
<header class="header">
	<h1>PROJECT POPONG</h1>
</header>
<section id="introduction" class="section">
	팀 <strong>포퐁(POPONG: Public Open POlitical engineeriNG)</strong>은 인터넷을 통한 시민들의 사회참여가 정치에 미치는 영향에 대한 학술적 연구 및 실제적 변화를 목표로 하는 재능기부 그룹입니다. 일상생활 속의 정치참여를 상상하는 직장인, 학생들의 잉여시간을 모아모아 활동합니다. ^^
</section>
<footer class="footer">
	Copyright© 2011, <a href="http://popong.com">Team Popong</a>
</footer>
{% endblock %}
