#navitabs {
	clear:both;
	padding-bottom:3px;
	border-bottom:1px solid #e0e0e0;
}

.navitab {
	cursor: pointer;
	padding:4px 8px 4px 8px;
	text-decoration:none;
	letter-spacing:1px;
	background:#e0e0e0 url(../../pithy/images/corner.gif) top right no-repeat;
	border-left:1px solid #ffffff;
}

.navitab:hover {
	text-decoration:none;
	background:#d0d0d0 url(../../pithy/images/corner.gif) top right no-repeat;
}

.activenavitab {
	color:#ffffff;
	background:#707070 url(../../pithy/images/corner.gif) top right no-repeat;
}

.activenavitab:hover {
	background:#a0a0a0 url(../../pithy/images/corner.gif) top right no-repeat;
}

#main {
	font-size: 1.2em;
	width: 100%;
	float:left;
	padding: 15px 15px 30px 0;
}

.section {
}

.section_name {
	border-bottom:1px solid #d0d0d0;
	font-weight: bold;
}

.section ul {
	list-style: none;
}

.section ul li {
	width: 400px;
	height: 120px;
	border: 1px solid #d0d0d0;
	margin: 10px;
	padding: 10px;
	float: left;
}

.section div.col {
	font-size: 0.9em;
	vertical-align: top;
	line-height: 1.5em;
	float: left;
}

.section div.col > img.photo {
	height: 115px;
	width: 85px;
	margin-right: 5px;
}

.section div.col > span {
	display: block;
}

.section div.col > span.name {
	font-weight: bold;
}

.section div.col > span > span.fieldname {
	font-weight: bold;
	width: 6em;
	display: inline-block;
	border-right: 1px solid #e3e3e3;
	padding-right: 0.5em;
	margin-right: 0.5em;
}

.clear {
	clear: both;
}

#logo form {
	display: inline;
}

input {
	-moz-box-sizing: content-box;
	-moz-padding-start: 0;
	-moz-padding-end: 0;
	font-family: 굴림,dotum,arial,sans-serif;
}

input#q {
	-moz-box-sizing: content-box;
	border: 1px solid #D9D9D9;
	background: white;
	border-left: 1px solid #D9D9D9;
	color: black;
	padding: 1px 7px;
	height: 22px;
}

input#search {
	background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	-webkit-border-radius: 2px;
	-webkit-user-select: none;
	background-color: whiteSmoke;
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	border: 1px solid gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #666;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 24px;
	margin: 0px 6px;
	min-width: 48px;
	text-align: center;
}

input#search:hover {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #F8F8F8;
	background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
	border: 1px solid #C6C6C6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #333;
}

