<% currentYear = (new Date()).getFullYear(); %>
<div class="alert alert-info">
	검색결과: <%= q %>
</div>
<div id="member-view">
	<div class="row-fluid">
		<div class="span2">
			<img id="member-img" src="<%= member.image ? member.image : 'images/default_profile.jpg' %>">
		</div>
		<div class="span10">
			<h2><%= member.name %>
				<small>
					<% if (member.homepage) { %>
					<a href="<%= member.homepage %>"><i class="icon-home"></i></a>
					<% } %>

					<% if (member.email) { %>
					<a href="mailto:<%= member.email %>"><i class="icon-envelope"></i></a>
					<% } %>
				</small>
			</h2>
			<table class="table table-condensed">
				<tbody>
					<% if (member.birthyear) { %>
					<tr>
						<th>나이</th>
						<td><span id="member-age" data-placement="right" data-title="출생일: <%= member.birthyear+'.'+member.birthmonth+'.'+member.birthday %>"><%= currentYear - parseInt(member.birthyear, 10) + 1 %></span></td>
					</tr>
					<% } %>
					<% if (member.party) { %>
					<tr>
						<th>소속정당</th>
						<td><%= member.party %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div>
		<iframe id="insight" src="apps/member/google-insights.php?q=<%= q %>&w=720" frameborder="0">
		</iframe>
	</div>
</div>
