#member-search {
	display: table;
	margin: 0 auto;
	text-align: center;
}

#member-search h1 {
	margin: 20px 0;
}

#member-search .logo {
	width: 100px;
	margin: 0 10px;
	vertical-align: text-bottom;
}

#member-search input[type="text"] {
	width: 100%;
	margin-bottom: 10px;
}

#member-result {
	width: 80%;
	max-width: 752px;
	display: table;
	margin: 20px auto 0;
}

#member-img {
	display: block;
	border: 1px solid #aaa;
	width: 90%;
	margin: 0 auto;
}

#insight {
	width: 600px;
	height: 400px;
}
