<% currentYear = (new Date()).getFullYear(); %>
<div class="alert alert-info">
	검색결과: <%= q %>
</div>
<div id="member-view">
	<div class="row-fluid">
		<div class="span3 col-member-img">
			<img id="member-img" src="<%= member.image ? member.image : 'images/default_profile.jpg' %>">
		</div>
		<div class="span9 col-member-attrs">
			<h2><%= member.name %>
				<small>
					<% if (member.homepage) { %>
					<a href="<%= member.homepage %>"><i class="icon-home icon-large"></i></a>
					<% } %>

					<% if (member.email) { %>
					<a href="mailto:<%= member.email %>"><i class="icon-envelope icon-large"></i></a>
					<% } %>
				</small>
			</h2>
			<table id="member-profile" class="table table-condensed">
				<tbody>
					<% if (member.birthyear) { %>
					<tr>
						<th>생년월일</th>
						<td><%= member.birthyear+'.'+member.birthmonth+'.'+member.birthday %></td>
					</tr>
					<% } %>
					<% if (member.party) { %>
					<tr>
						<th>소속정당</th>
						<td><%= member.party %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div>
		<iframe id="insight" src="apps/member/google-insights.php?q=<%= q %>&w=720" frameborder="0">
		</iframe>
	</div>
</div>
