#member-search {
	display: table;
	margin: 0 auto;
	text-align: center;
}

#member-search h1 {
	margin: 20px 0;
}

#member-search .logo {
	width: 100px;
	margin: 0 10px;
	vertical-align: text-bottom;
}

#member-search h1 > span {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

#member-search input[type="text"] {
	box-sizing: border-box; *behavior: url(userlib/boxsizing.htc);
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

#member-collage, #member-result {
	width: 90%;
	max-width: 752px;
	margin: 20px auto 0;
	overflow-x: hidden;
}

#member-view {
	box-sizing: border-box; *behavior: url(userlib/boxsizing.htc);
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#member-profile th {
	width: 15%;
	max-width: 80px;
	min-width: 60px;
}

.col-member-img {
	/* .span3 properties */
	float: left !important;
	display: inline !important;
	width: 23.404255317% !important;
	margin-left: 0 !important;
}

.col-member-attrs {
	/* .span9 properties */
	float: left !important;
	display: inline !important;
	width: 74.468085099% !important;
	margin-left: 2.127659514% !important;
}

[class^="icon-"]::before {
	vertical-align: top;
}

a [class^="icon-"] {
	color: #333;
	text-decoration: none;
	margin: auto 1px;
}

a [class^="icon-"]:hover {
	color: #333;
	text-decoration: none;
}

#member-img {
	display: block;
	border: 1px solid #aaa;
	width: 90%;
	max-width: 100px;
	margin: 0 auto;
}

#insight {
	width: 730px;
	height: 320px;
	margin-top: 10px;
}

#member-collage {
	max-width: 600px;
	max-height: 320px;
	overflow-y: hidden;
	margin: 40px auto 0;
}

.collage-img {
	float: left;
	width: 60px;
	height: 80px;
	cursor: pointer;
}

@media all and (max-width: 979px) {
	#insight {
		display: none;
	}

	#member-collage {
		margin-top: 0px;
		max-height: 160px;
	}

	.mobile-icon-large::before {
		font-size: 1.3333333333333333em;
	}
}
