<div class="alert alert-info">
	검색결과: <%= q %>
</div>
<div class="row-fluid">
	<div class="span2">
		<img id="member-img" src="<%= member.image ? member.img : 'images/default_profile.jpg' %>">
	</div>
	<div class="span10">
		<strong><%= member.name %></strong>
		<% if (member.homepage) { %><a href="<%= member.homepage %>">home</a><% } %>
		<% if (member.facebook) { %><a href="<%= member.facebook %>">fb</a><% } %>
		<% if (member.twitter) { %><a href="<%= member.twitter %>">twt</a><% } %>
		<% if (member.email) { %><a href="<%= member.email %>">mail</a><% } %>
		<br>
		<iframe id="insight" src="apps/member/google-insights.php?q=<%= q %>" frameborder="0">
		</iframe>
	</div>
</div>
