<div id="shortcuts">
<% _.each(parties, function (members, party) { %>
<div class="party"><a href="javascript:scrollTo(&quot;<%= party%>&quot;);"><%= party %></a></div>
<% }); %>
</div>

<div id="member-list">
<ul>
<% _.each(parties, function (members, party) { %>
	<li id="party_<%= party %>" class="party"><%= party %></li>
	<% _.each(members, function (member) { %>
	<a href="javascript:onClickMember(&quot;<%= member.name_kr %>&quot;);"><li id="member_<%= member.name_kr %>" class="member"><%= member.name_kr %></li></a>
	<% }); %>
<% }); %>
</ul>
</div>

<script type="text/javascript">
function onClickMember(member_name) {
	var selected = getSelected();

	var li = $('#member_'+member_name);
	if (li.hasClass('selected')) {
		WM.intimacy.updateSelected(_.without(selected, member_name));
	} else {
		if (selected.length < WM.intimacy.MAX_NUM_CHOSEN) {
			selected.push(member_name);
			WM.intimacy.updateSelected(selected);
		}
	}
}

function getSelected() {
	return _.map(
			$('#member-list li.member.selected'),
			function (item) {
				return item.innerHTML;
			});
}

function scrollTo(party) {
	var scroll = $('#party_'+party).offset().top
			- $('#member-list ul').offset().top;
	$('#member-list').animate({
			scrollTop: scroll
			}, 300);
}
</script>
