{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }}
{% endblock %}

{% block card %}
<h2 class="class-name">{{ gettext('bills') }}</h2>
{% endblock %}

{% block content %}
<ul>
{% call(bill) macro.list(bills, offset, pagesize,
        url_for('bill_main', offset=max(0, offset-pagesize)),
        url_for('bill_main', offset=offset+pagesize)) %}
    <li><a href="{{ url_for('bill', id=bill.id) }}">
        {{ bill.proposed_date }}
        {{ bill.name|translit(type='bill') }}
    </a></li>
{% endcall %}
</ul>
{% endblock %}
