{% extends "layout.html" %}

{% block title %}
{{ super() }} - {{ bill.id }} {{ bill.name }}
{% endblock %}

{% block extra_headers %}
<style>
#bill-name {
    margin-bottom: 30px;
}
</style>
{% endblock %}

{% block breadcrumb_current %}
{{ bill.name }}
{% endblock %}

{% block card %}
<img class="instance-img" src="{{ url_for('static', filename='images/default_bill.jpg') }}">
<h2 class="instance-name">{{ bill.id }}</h2>
{% endblock %}

{% block content %}
<h2 id="bill-name">{{ bill.name }}</h2>
<table class="table table-condensed">
    <tbody>
        {% if bill.age %}
        <tr>
            <th>{{ gettext("assembly #") }}</th>
            <td>{{ bill.age }}</td>
        </tr>
        {% endif %}
        {% if bill.proposed_date %}
        <tr>
            <th>{{ gettext("proposed date") }}</th>
            <td>{{ bill.proposed_date }}</td>
        </tr>
        {% endif %}
        {% if bill.decision_date %}
        <tr>
            <th>{{ gettext("decision date") }}</th>
            <td>{{ bill.decision_date }}</td>
        </tr>
        {% endif %}
        {% if bill.proposer_representative %}
        <tr>
            <th>{{ gettext("representative proposer") }}</th>
            <td>{{ bill.proposer_representative }}</td>
        </tr>
        {% endif %}
        {% if bill.proposers %}
        <tr>
            <th>{{ gettext("proposers") }}</th>
            <td>{% for proposer in bill.proposers %}{{proposer}}{% endfor %}</td>
        </tr>
        {% endif %}
        {% if bill.committee %}
        <tr>
            <th>{{ gettext("committee") }}</th>
            <td>{{ bill.committee }}</td>
        </tr>
        {% endif %}
        {% if bill.status_detail %}
        <tr>
            <th>{{ gettext("status") }}</th>
            <td>{{ bill.status_detail }}</td>
        </tr>
        {% endif %}
        {% if bill.attachments %}
        <tr>
            <th>{{ gettext("attachments") }}</th>
            <td><ol>{% for attachment in bill.attachments %}<li><a href="{{attachment}}">{{attachment.rsplit('.', 1)[-1].upper()}}</a></li>{% endfor %}</ol></td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
