{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('bills') }}
{% endblock %}

{% block card %}
<div id="class-bills" class="class-card">
    <h2 class="class-name">{{ gettext('bills') }}</h2>
</div>
{% endblock %}

{% block content %}
<div class="itemlist">
{% call(bill) macro.list(bills) %}
    <a href="{{ url_for('bill', id=bill.id) }}">
        [{{ bill.proposed_date }}]
        {{ bill.name }}
    </a>
{% endcall %}
</div>
{% endblock %}
