{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('bills') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('bills') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/submain.%(version)s.css',
    depends=['**/*.less'], 'less/submain.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block card %}
<div id="class-bills" class="class-item {{ locale }}"></div>
{% endblock %}

{% block content %}
<div id="search-tabs">
    <ul class="nav nav-tiles">
         <!-- FIXME: range -->
         {% for assembly_id_ in range(1, 20) %}
         <li {% if assembly_id_ == assembly_id %}class="active"{% endif %}><a href="{{ url_for('bill_main', assembly_id=assembly_id_) }}">{{ assembly_id_ }}{{ gettext('th') }}</a></li>
         {% endfor %}
     </ul>
</div>
<div id="bill-list" class="itemlist">
    {{ macro.list_count(bills) }}
    {% call(bill) macro.list_pagenav(bills, layout='table', pagesize=15) %}
        <td>{{ bill.proposed_date }}</td>
        <td><a href="{{ url_for('bill', id=bill.id) }}">{{ bill.name }}</a></td>
        <td>
            {% if bill.status_id in [1,2,4,5,6,9,11,12,22,24,25,26] %}
            <i class="icon-circle" style="color: green;"></i>
            {% else %}
            <i class="icon-circle" style="color: red;"></i>
            {% endif %}
            {{ bill.status }}
        </td>
    {% endcall %}
</div>
{% endblock %}
