{% if district_feeds %}
{% for feed in district_feeds.feeds %}
    <div class="feed bill">
        <p class="feed-sponsor-type">
            {{ gettext('Legislator %(name)s', name=legislator.name) }}
            {% if legislator.name in feed.sponsor %}
            {{ gettext('sponsored') }}
            {% else %}
            {{ gettext('cosponsored') }}
            {% endif %}
        </p>
        <p class="keywords">
        {% for keyword in feed.bill.keywords %}<a href="{{ url_for('search', target='bills', query=keyword.name) }}">{{ keyword.name }}</a>{% endfor %}
        </p>
        <span class="feed-timestamp">
        {{ feed.proposed_date }}
        </span>
        <p class="feed-title"><a href="{{ url_for('bill', id=feed.bill_id) }}">{{ feed.name }}</a></p>
        <p class="summary"><a href="{{ url_for('bill', id=feed.bill_id) }}#contents">{% if feed.bill.summary %}{{ BillController.truncated_summary(feed.bill) }}{% else %}{{ gettext('No summary') }}{% endif %}</a></p>
    </div>
{% endfor %}
{% endif %}
