<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}POPONG{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- styles -->
        {% assets filters="cssmin", output="build/basecss.%(version)s.css"
            , "css/bootstrap.min.css"
            , "css/bootstrap-responsive.min.css"
            , "css/font-awesome.css"
            , "css/layout.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block extra_headers %}
        {% endblock %}

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-15347606-2']);
          _gaq.push(['_setDomainName', 'popong.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <img class="absolute-top-right" src="{{ url_for('static', filename="images/banner-alpha-right-90.png") }}">
        <div id="content" class="container">
        {% block content %}{% endblock %}
        </div>
		<hr>
		<footer>
		    <p>&copy; 2011-2012 <a href="http://popong.com/">team POPONG</p>
		</footer>
		<!-- feedback engine -->
		<style type='text/css'>@import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');</style>
		<script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
		<script type="text/javascript" charset="utf-8">
		    BAROMETER.load('Rrhc5RmRSR3yWEdwRztCH');
		</script>
    </body>
</html>
