<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}대한민국 정치의 모든 것{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta property="og:image" content="{{ url_for('static', filename="images/logo-pokr-200x200.png", _external=True) }}"/>
        <meta property="og:title" content="Pokr - Politics in Korea" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://pokr.kr/" />
        <meta property="fb:admins" content="1347665216" />

        {% for lang, url in locale_links.items() %}
        <link rel="alternate" hreflang="{{lang}}" href="{{url}}">
        {% endfor %}
        <link rel="image_src" type="image/png" href="{{ url_for('static', filename="images/logo-pokr-200x200.png") }}">

        <script>
        window.isMobile = {{ 'true' if mobile else 'false' }};
        window.currentPage = '{{request.endpoint}}';
        window.isDebug = {{ 'true' if app.debug else 'false' }};
        </script>

        {% include 'includes/includes.html' %}

        {% block extra_headers %}{% endblock %}

        {% include 'includes/google-analytics.html' %}

        <!--[if lte IE 7]>
            <style type="text/css">
                #header, #container, #footer { margin: 0px; }
            </style>
        <![endif]-->
    </head>
    <body>
        <div id="header">
            <div id="header-top">
            {% include 'includes/header.html' %}
            </div>
            <ul class="breadcrumb">
            {% if breadcrumbs %}
                {% for name in breadcrumbs %}
                    {% set endpoint = app.views[name] %}
                    <li><a href="{{ url_for(endpoint) }}">{{ gettext(name) }}</a> <span class="divider">&gt;</span></li>
                {% endfor %}
                {% block breadcrumb_extra %}
                {% endblock %}
                <li class="active">{% block breadcrumb_current %}{% endblock %}</li>
            {% endif %}
            </ul>
        </div>

        <div id="container">
            <div id="content">
               <div id="card-container">
                {% block card %}
                {% endblock %}
                </div>
                <div id="spec-container">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
        {% include 'includes/feedback.html' %}
    </body>
</html>
