{% if not is_pjax %}
<!DOCTYPE html>
<html>
    <head>
{% endif %}
        <title>{% block title %}POPONG{% endblock %}</title>
{% if not is_pjax %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        {% for lang, url in locale_links.items() %}
        <link rel="alternate" hreflang="{{lang}}" href="{{url}}">
        {% endfor %}

        <!-- styles -->
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/bootstrap-responsive.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/font-awesome.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/barometer.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/timeline.css')}}">
        <link rel="stylesheet/less" href="{{url_for('static', filename="less/layout.less")}}">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="{{url_for('static', filename='js/json2.js')}}"></script>
        <script src="{{url_for('static', filename='js/localstorageshim.min.js')}}"></script>
        <![endif]-->

        <script src="{{url_for('static', filename='js/jquery-1.8.3.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.pjax.js')}}"></script>
        <script src="{{url_for('static', filename='js/mustache.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap-transition.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap-collapse.js')}}"></script>
        <script src="{{url_for('static', filename='js/typeahead.min.js')}}"></script>

{% endif %}
        {% block extra_headers %}
        {% endblock %}

{% if not is_pjax %}
        <script src="{{asset('js/less-1.3.0.min.js')}}"></script>

        {% if not config['DEBUG'] %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-15347606-2']);
          _gaq.push(['_setDomainName', 'popong.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}
    </head>
    <body>
        <div id="container">
{% endif %}
            <div id="leftnav">
                <h1><a data-pjax href="{{ url_for('person_main') }}"><img class="logo" src="{{ url_for('static', filename='images/logo-polidic-alpha-%s-300.png' % locale) }}"></a></h1>
                <form id="member-search-form" action="{{ url_for("person_main") }}" style="margin-bottom: 10px;">
                    <div class="input-append">
                        <input id="search" type="text" name="q" autocomplete="on" class="border-box" placeholder="{{ gettext("search") }}">
                        <button class="btn add-on">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </form>
                <div id="search-options" class="accordion">
                    <div id="search-party" class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#search-options" href="#parties">{{gettext("search by party:")}}</a>
                        </div>
                        <div id="parties" class="accordion-body collapse in">
                            <ul class="accordion-inner">
                                {% for party_name in party_names %}
                                <li><a data-pjax href="{{url_for('party', name=party_name)}}">{{party_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <div id="rightnav">
                <div id="card-container">
                    {% block card %}
                    {% endblock %}
                </div>
                <div id="cards-cart-container">
                    <h3>Cart</h3>
                    <a class="btn-clear-cart" href="#" onclick="CART.clearCart()">clear</a>
                    <div id="cards-cart">
                    </div>
                </div>
            </div>
{% if not is_pjax %}
        </div>
        <div id="footer">
            <p class="text-center">
            <small>&copy; 2011-2013 <a href="http://popong.com/">team POPONG</a>. All right reserved.</small>
            </p>
        </div>
        <img class="absolute-top-right" src="{{ url_for('static', filename="images/banner-alpha-right-90.png") }}">
        <script src="{{url_for('static', filename='js/popong.js')}}"></script>
        <script src="{{url_for('static', filename="js/cart.js")}}"></script>
        <script>
            $(window).load(function () {
                $(document).pjax('a[data-pjax]', '#container');
                $('.member-img').clipImage();
            });
            $(document).on('pjax:complete', function() {
                var links = document.getElementsByTagName('link');
                var typePattern = /^text\/(x-)?less$/;

                less.sheets = [];

                for (var i = 0; i < links.length; i++) {
                    if (links[i].rel === 'stylesheet/less' || (links[i].rel.match(/stylesheet/) &&
                    (links[i].type.match(typePattern)))) {
                        less.sheets.push(links[i]);
                    }
                }

                less.refresh(false);
            });
            $('input#search').typeahead({
                name: 'people_names',
                prefetch: "{{url_for('person_all_names')}}"
            });
        </script>
        <!-- barometer start -->
        <script src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js' type='text/javascript'></script>
        <script type="text/javascript" charset="utf-8">
            BAROMETER.load('zh9X6XtA1xrp6zLRRzXpB');
        </script>
        <!-- barometer end -->
    </body>
</html>
{% endif %}
