{% macro people_list(people) -%}
    <div id="search-view">
        {% for person in people %}
            {{widgets.card(person)|safe}}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro btn_show(target) -%}
    <a href="#" class="btn-show" data-target="{{target}}"><span class="text-show">[{{gettext('show')}}]</span><span class="text-hide">[{{gettext('hide')}}]</span></a>
{%- endmacro %}

{% macro list(query, page=1, pagesize=20, prev_url='', next_url='') -%}

	{% set prev_url = prev_url or Href(request.base_url)('', page=max(1, page - 1)) %}
	{% set next_url = next_url or Href(request.base_url)('', page=page + 1) %}
	{% set offset = (page - 1) * pagesize %}
    {% set items = query.offset(offset).limit(pagesize+1).all() %}

    {% for item in items|batch(pagesize)|first %}
        {{caller(item)}}
    {% endfor %}
    <div class="pagenav">
        {% if offset %}
            <a class="btn btn-pagenav btn-prev" href="{{prev_url}}"><i class="icon-angle-left"></i> {{gettext('prev')}}</a>
        {% endif %}
        {% if items|count > pagesize %}
            <a class="btn btn-pagenav btn-next" href="{{next_url}}">{{gettext('next')}} <i class="icon-angle-right"></i></a>
        {% endif %}
    </div>
{%- endmacro %}
