{% macro people_list(people, pagesize=20, show_pagenav=True) -%}
    <div class="float-list">
        {% call(person) list(people, pagesize=pagesize, show_pagenav=show_pagenav) %}
            {{widgets.card(person)|safe}}
        {% endcall %}
    </div>
{%- endmacro %}

{% macro btn_show(target, show=None, hide=None) -%}
{% set show = show or gettext('show') %}
{% set hide = hide or gettext('hide') %}
<a href="#" class="btn-show" data-target="{{target}}">
    <span class="text-show">{{show}}</span><span class="text-hide">{{hide}}</span>
</a>
{%- endmacro %}

{% macro list_count(query, type=None) -%}
    {% set cnt = query|count if hasattr(query, 'append') else query.count() %}
    <span class="search-count">{% if type=='people' %}{{ gettext('%(count)d people', count=cnt) }}{% else %}{{ gettext('%(count)d results', count=cnt) }}{% endif %}</span>
{%- endmacro %}

{% macro list(query, page=None, pagesize=20, show_pagenav=True, layout='list') -%}

    {% set page = int(request.args.get('page', 1)) %}
    {% set prev_url = url_for_query(page=max(1, page - 1)) %}
    {% set next_url = url_for_query(page=page + 1) %}
    {% set offset = (page - 1) * pagesize %}
    {% set items = query.offset(offset).limit(pagesize+1).all() %}

    {% if layout=='list' %}
        <ul>
        {% for item in items[:pagesize] %}
            <li>{{caller(item)}}</li>
        {% endfor %}
        </ul>
    {% elif layout=='table' %}
        <table class="table table-condensed">
        {% for item in items[:pagesize] %}
            <tr>{{caller(item)}}</tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if show_pagenav %}
    <div class="pagenav">
        {% if offset %}
            <a class="btn btn-pagenav btn-prev" href="{{prev_url}}"><i class="icon-angle-left"></i> {{gettext('prev')}}</a>
        {% endif %}
        {% if items|count > pagesize %}
            <a class="btn btn-pagenav btn-next" href="{{next_url}}">{{gettext('next')}} <i class="icon-angle-right"></i></a>
        {% endif %}
    </div>
    {% elif offset or items|count > pagesize %}
    <div class="alert alert-info">{{ gettext("There are more items not shown for the current search options. Please narrow them down by giving more strict options.") }}</div>
    {% endif %}
{%- endmacro %}
