{% macro people_list(people) -%}
    <div id="search-view">
        {% for person in people %}
            {{widgets.card(person)|safe}}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro btn_show(target, show=None, hide=None) -%}
{% set show = show or gettext('show') %}
{% set hide = hide or gettext('hide') %}
<a href="#" class="btn-show" data-target="{{target}}">
    <span class="text-show">{{show}}</span><span class="text-hide">{{hide}}</span>
</a>
{%- endmacro %}

{% macro list(query, page=None, pagesize=20, prev_url=None, next_url=None, show_btn=True, layout='list') -%}

	{% set page = int(request.args.get('page', 1)) %}
	{% set prev_url = prev_url or url_for_query(page=max(1, page - 1)) %}
	{% set next_url = next_url or url_for_query(page=page + 1) %}
	{% set offset = (page - 1) * pagesize %}
    {% set items = query.offset(offset).limit(pagesize+1).all() %}

    {% if layout=='list' %}
        <ul>
        {% for item in items|batch(pagesize)|first %}
            <li>{{caller(item)}}</li>
        {% endfor %}
        </ul>
    {% elif layout=='table' %}
        <table class="table table-condensed">
        {% for item in items|batch(pagesize)|first %}
            <tr>{{caller(item)}}</tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if show_btn %}
    <div class="pagenav">
        {% if offset %}
            <a class="btn btn-pagenav btn-prev" href="{{prev_url}}"><i class="icon-angle-left"></i> {{gettext('prev')}}</a>
        {% endif %}
        {% if items|count > pagesize %}
            <a class="btn btn-pagenav btn-next" href="{{next_url}}">{{gettext('next')}} <i class="icon-angle-right"></i></a>
        {% endif %}
    </div>
    {% endif %}
{%- endmacro %}
