{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }} - Politics in Korea
{% endblock %}

{% if not mobile %}
{% block extra_headers %}
{% assets filters='less', output='build/main.%(version)s.css',
depends=['**/*.less'], 'less/main.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}
{% endif %}

{% block content %}
<div id="class-list">
    <div style="display: inline-block;"><a href="{{ url_for('person_main') }}"><div id="class-people" class="class-item {{ locale }}"></div></a><br><span class="menu-description">{{ gettext('Search for any official or<br>candidate in Korea') }}</span class="menu-description"></div>
    <div style="display: inline-block;"><a href="{{ url_for('bill_main') }}"><div id="class-bills" class="class-item {{ locale }}"></div></a><br><span class="menu-description">{{ gettext('Search for any bill<br>proposed in Korea')}}</span class="menu-description"></div>
    <div style="display: inline-block;"><a href="{{ url_for('party_main') }}"><div id="class-parties" class="class-item {{ locale }}"></div></a><br><span class="menu-description">{{ gettext('Search for any party in<br>Korea') }}</span class="menu-description"></div>
    <div style="display: inline-block;"><a href="{{ url_for('region_main') }}"><div id="class-regions" class="class-item {{ locale }}"></div></a><br><span class="menu-description">{{ gettext('Search for any administrative<br>region in Korea') }}</span class="menu-description"></div>
</div>

<div style="text-align: center; color: #555;">
    <div class="social-sends">
    {% include 'pokr-like.html' %}
    {% include 'pokr-follow.html' %}
    </div>
</div>
{% if not mobile and locale=="ko"%}
<div id="feedback-guide">
    <img src="{{ url_for('static', filename='images/guide_arrow.png') }}">
    <span>{{ gettext("Your feedback<br>makes us better!<br><small>(We feed on compliments)</small>") }}</span>
</div>
{% endif %}

{% if locale=='ko' %}
<div id="notice">
    <i class="icon-twitter"></i>지금 <a href="http://twitter.com/pokrbot">@pokrbot</a>으로 의안을 구독해 보세요!
</div>
{% endif %}

{# To preload images #}
<div style="display: none;">
{% for name in ('bill', 'party', 'person', 'region') %}
<img src="{{ url_for('static', filename='images/default_%s_%s_grey.png'%(name, locale)) }}">
{% endfor %}
</div>
{% endblock %}
