{% extends "layout.html" %}

{% block title %}
{{ gettext("Mypage") }} - {{ super() }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/mypage.%(version)s.css',
    depends=['**/*.less'], 'less/mypage.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}
{% block breadcrumb_current %}
{{ gettext('Mypage') }}
{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ gettext("My Politics News") }}</h1>

    <div class="favorite-politicians">
        <i class="icon-star"></i><a href="">{{ gettext('Favorite Politicians') }}</a><br>
        {% if user.favorite_people %}
            <ul class="float-list">
                {% for person in user.favorite_people %}
                <li>{{ widgets.card(person, small=True)|safe }}
                {% endfor %}
            </ul>
        {% else %}
            {{ gettext('None') }}
        {% endif %}
    </div>
</div>

<div class="columns">
    <div class="column left" id="column-district">
        <h2>{{ gettext('My district') }}</h2>
        <div class="feed text-center">
            {% if user.address_id %}
            {{ user.address.fullname }}
            {% else %}
            <a href="">{{ gettext('Please input your region') }}</a>
            {% endif %}
            <button id="btn-change-region" type="button" class="btn">{{ gettext('Change region') }}</button>
            <form id="form-search-region" action="{{ url_for('find_region') }}" class="form-horizontal" style="display: none;">
                <label>{{ gettext('dong') }}</label>
                <div class="input-append">
                    <input type="text" class="input-small" name="query" />
                    <button class="btn" type="submit">{{ gettext('search') }}</button>
                </div>
            </form>
            <div id="find-region-list">
            </div>
            <div id="urlUpdateRegion" class="hide" action="{{ url_for('update_address') }}"></div>
        </div>
        {% if user.address_id %}
            {% set legislator = controllers('region').legislator_of(user.address_id) %}
            {% if legislator %}
            <div class="feed">
                {{ widgets.card(legislator)|safe }}
                {% set pledges = legislator.pledges %}
                {% set pledges = pledges and pledges[current_age()] %}
                {% if pledges %}
                <h3>{{ gettext('Pledges of this election') }} <small>[{{ gettext('%(age)dth legislator election', age=current_age()) }}]</small></h3>
                <ol id="pledges">
                    {% for pledge in pledges %}
                    <li>
                    <a href="#" class="btn-show-pledge-description" data-pledge_description_id="pledge-{{ loop.index }}">{{ pledge.pledge }}</a>
                    <pre id="pledge-{{ loop.index }}" class="hide">{{ pledge.description }}</pre>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
                <div style="clear: both;"></div>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="column right">
        <h2>{{ gettext('Topics of Interest') }}</h2>
        <div class="feed">
            {% if user.favorite_keywords %}
            <ul class="float-list" style="margin: 0; display: inline;">
                {% for keyword in user.favorite_keywords %}
                <li><span class="label"><a href="{{ url_for('search', target='bills', query=keyword.name) }}" class="keyword">{{ keyword.name }}</a><a href="{{ url_for('favorite_keyword', keyword=keyword.name) }}" class="request close" data-method="DELETE">&times;</a></span></li>
                {% endfor %}
            </ul>
            {% else %}
            {{ gettext('Please choose some keywords of your interest.') }}
            {% endif %}
            <form id="form-add-favorite-keyword" action="{{ url_for('favorite_keyword', keyword='') }}">
                <input type="text" class="input-mini" name="keyword" placeholder="{{ gettext('new keyword') }}" />
            </form>
        </div>
        <div id="keyword-feeds">
            {% include 'keyword-feeds.html' with context %}
        </div>
        <a class="btn-more btn-more-ajax {% if not keyword_feeds.next %}hide{% endif %}" href="{{ keyword_feeds.next }}" target="#keyword-feeds" method="GET">{{ gettext('more') }}</a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
{% endblock %}
