{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext("Mypage") }} - {{ super() }}
{% endblock %}

{% block extra_headers %}
<style>
.feed {
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
}
.feed-actor {
    font-weight: bold;
}
.feed-timestamp {
    text-align: right;
    color: #aaa;
}
</style>
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('Mypage') }}
{% endblock %}

{% block content %}
{% for feed in feeds %}
<div class="feed">
    <div class="feed-actor">{{ feed.sponsor }}</div>
    <div class="feed-text">
    {{ gettext('<a href="%(href)s">%(title)s</a> is proposed.', href=url_for('bill', id=feed.bill_id), title=feed.name) }}
    </div>
    <div class="feed-timestamp">
    {{ feed.proposed_date }}
    </div>
</div>
{% endfor %}
{% endblock %}
