{% extends "layout.html" %}

{% block title %}
{{ gettext("Mypage") }} - {{ super() }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/mypage.%(version)s.css',
    depends=['**/*.less'], 'less/mypage.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}
{% block breadcrumb_current %}
{{ gettext('Mypage') }}
{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ gettext("My Politics Magazine") }}</h1>

    <div class="favorite-politicians">
        <i class="icon-star"></i><a href="">{{ gettext('Favorite Politicians') }}</a><br>
        {% if user.favorite_people %}
            <ul class="float-list">
                {% for person in user.favorite_people %}
                <li>{{ widgets.card(person, small=True)|safe }}
                {% endfor %}
            </ul>
        {% else %}
            {{ gettext('None') }}
        {% endif %}
    </div>
</div>

<div class="columns">
    <div class="column left">
        <h2>{{ gettext('My district') }}</h2>
        <div class="feed text-center">
            {% if user.address_id %}
            {{ user.address.fullname }}
            {% else %}
            <a href="">{{ gettext('Please input your region') }}</a>
            {% endif %}
            <button id="btn-change-region" type="button" class="btn">{{ gettext('Change region') }}</button>
            <form id="form-search-region" action="{{ url_for('find_region') }}" class="form-horizontal" style="display: none;">
                <label>{{ gettext('dong') }}</label>
                <div class="input-append">
                    <input type="text" class="input-small" name="query" />
                    <button class="btn" type="submit">{{ gettext('search') }}</button>
                </div>
            </form>
            <div id="find-region-list">
            </div>
            <div id="urlUpdateRegion" class="hide" action="{{ url_for('update_address') }}"></div>
        </div>
    </div>
    <div class="column right">
        <h2>{{ gettext('Topics of Interest') }}</h2>
        <div class="feed">
            {% if user.favorite_keywords %}
            <ul class="float-list" style="margin: 0; display: inline;">
                {% for keyword in user.favorite_keywords %}
                <li><a href="{{ url_for('favorite_keyword', keyword=keyword.name) }}" class="request close" data-method="DELETE">&times;</a><a href="{{ url_for('search', target='bills', query=keyword.name) }}" class="label">{{ keyword.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            {{ gettext('Please choose some keywords of your interest.') }}
            {% endif %}
            <form id="form-add-favorite-keyword" action="{{ url_for('favorite_keyword', keyword='') }}" style="margin: 0; display: inline;">
                <input type="text" class="input-mini" name="keyword" placeholder="{{ gettext('new keyword') }}" style="margin: 0;" />
            </form>
        </div>
        <div id="keyword-feeds">
            {% include 'keyword-feeds.html' with context %}
        </div>
        <a class="btn-more btn-more-ajax {% if not keyword_feeds.next %}hide{% endif %}" href="{{ keyword_feeds.next }}" target="#keyword-feeds" method="GET">{{ gettext('more') }}</a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
{% endblock %}
