{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }} - {{ party.name|translit(type='party') }}
{% endblock %}

{% block breadcrumb_current %}
{{ party.name|translit(type='party') }}
{% endblock %}

{% block card %}
<img class="instance-img" src="{{ party.logo|default(url_for('static', filename='images/default_party.jpg'), True) }}" title="{{ party.name }}">
{% if not party.logo %}
<h2 class="instance-name">{{ party.name|translit(type='party') }}</h2>
{% endif %}
{% endblock %}

{% block content %}
{{macro.people_list(party.current_members)}}
{% endblock %}
