{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% set has_bills = person.bills().limit(1).all() %}
{% set NUM_BILLS_SHOWN = 10 %}

{% block title %}
{{person.name|translit(type='name')}}{% if person.cur_party.name %} ({{person.cur_party.name|translit(type='party')}}){% endif %}{% if person.last_elected_no %}, {{gettext('Member of %(last_elected_no)dth National Assembly,', last_elected_no=person.last_elected_no)}}{% endif %} :: {{super()}} {{gettext('Politician Dictionary')}}
{% endblock %}

{% block breadcrumb_current %}
{{ person.name|translit(type='name') }}
{% endblock %}

{% block extra_headers %}
{{ super() }}

{% if mobile %}
    {% assets filters='less', output='build/person.mobile.%(version)s.css',
        depends=['**/*.mobile.less'], 'less/person.mobile.less' %}
    <link rel="stylesheet" href="{{ASSET_URL}}">
    {% endassets %}

{% else %}
    {% assets filters='less', output='build/person.%(version)s.css',
        depends=['**/*.less'], 'less/person.less' %}
    <link rel="stylesheet" href="{{ASSET_URL}}">
    {% endassets %}
    <script type="text/javascript" src="{{asset('js/bootstrap-scrollspy.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.colorbox.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/popong-colorbox.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/colorbox.css')}}">
{% endif %}

<script>
window.currentPage = 'person';
</script>
{% endblock %}

{% block card %}
{{widgets.card(person, detailed=True)|safe}}

{% if not mobile %}
    <div id="to-cart">
        <a class="btn-save-card" href="#" onclick="CART.saveCurrentCard()">
            {{ gettext('add to cart') }}
        </a>
    </div>
    <ul id="person-section-tabs" class="nav">
        <li class="active"><a href="#profile">{{gettext("profile")}}</a></li>
        <li><a href="#elections">{{gettext("elections")}}</a></li>
        {% if has_bills %}
        <li><a href="#bills">{{gettext("bills")}}</a></li>
        {% endif %}
    </ul>
{% endif %}
{% endblock %}

{% block content %}
<div id="person-view">
    <div id="person-sections">
        <div class="section" id="section-profile">
            <h3 id="profile">{{ gettext('profile') }}</h3>
            <table id="person-profile" class="table table-condensed">
                <tbody>
                    {% if person.birthday %}
                    <tr>
                        <th>{{ gettext("birthday") }}</th>
                        <td>{{ person.birthday_formatted|linkall|safe }}</td>
                    </tr>
                    {% endif %}
                    {% if person.cur_party %}
                    <tr>
                        <th>{{ gettext("party") }}</th>
                        <td><a href="{{ url_for('party', name=person.cur_party.name) }}">{{ person.cur_party.name|translit(type='party') }}</a></td>
                    </tr>
                    {% endif %}
                    {% if person.education %}
                    <tr>
                        <th>{{ gettext("education") }}</th>
                        <td>
                            <span class="tooltipped tooltipped-delay" data-placement="bottom" data-title="{{gettext('original')}}: {{person_extra_vars.education}}">
                            {% for term, education_id in zip(person.education, person.education_id) %}
                            {% if education_id %}<a href="{{url_for('school', education_id=education_id)}}">{% endif %}{{term}}{% if education_id %}</a>{% endif %}
                            {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endif %}
                    {% if person.address_id %}
                    <tr>
                        <th>{{gettext('address')}}</th>
                        <td>
                            <span class="tooltipped tooltipped-delay" data-placement="bottom" data-title="{{gettext('original')}}: {{person_extra_vars.address}}">
                            {% for region, region_id in zip(person.address, person.address_id) %}
                                {% if region_id %}<a href="{{url_for('region', region_id=region_id)}}">{% endif %}{{region}}{% if region_id %}</a>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if person_extra_vars.job or person_extra_vars.experience %}
                    <tr>
                        <th>{{ gettext("work experiences") }}</th>
                        <td>
                            {% if person_extra_vars.job %}
                            <span id="currentjob">
                                {{person_extra_vars.job|translit}}
                            </span>
                            {% endif %}
                            {% if person_extra_vars.experience %}
                            <span id="experiences">
                                {% for exp in person_extra_vars.experience %}
                                {{exp|translit}}<br>
                                {% endfor %}
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if not config['DEBUG'] and not mobile %}
                    <tr>
                        <th>{{ gettext("trends") }} <i class="icon-exclamation-sign tooltipped" data-placement="bottom" data-title="{{ gettext('Results from Google Trends searched by query %(name)s', name=person.name) }}"></i></th>
                        <td>
                            <div id="trends">
                                <script type="text/javascript" src="http://www.gmodules.com/ig/ifr?url=http%3A%2F%2Fwww.google.com%2Fig%2Fmodules%2Fgoogle_insightsforsearch_interestovertime_searchterms.xml&up__property=empty&up__search_terms={{ person.name }}&up__location=KR&up__category=0&up__time_range=12-m&up__compare_to_category=false&synd=open&w=640&h=150&lang={{lang}}&title=Google+%EA%B2%80%EC%83%89+%ED%86%B5%EA%B3%84&border=%23ffffff%7C3px%2C1px+solid+%23999999&output=js"></script>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="section" id="section-elections">
            <h3 id="elections">{{gettext('elections')}}</h3>
            {% if not mobile %}
                <div id="timeline">{{widgets.timeline(person.id)|safe}}</div>
            {% endif %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th id="district">{{gettext('election district')}}</th>
                        <th id="competitors">{{gettext('competitors')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidacy in person.candidacies %}
                    <tr id="assembly-election-{{candidacy.age}}">
                        <th class="anchor" data-target-id="assembly-election-{{candidacy.age}}">
                            <strong class="header-name">{{ gettext('%(age)dth', age=candidacy.age) }} {{ gettext('National Assembly Election') }}</strong>
                            <div class="pledges">
                            {% set pledges = person.pledges %}
                            {% if pledges and pledges[candidacy.age] %}
                            <small><a class="inline-box btn-show-pledge" href="#assembly-pledges-{{candidacy.age}}">[{{gettext('Pledges')}}]</a></small>
                            <div style="display:none">
                                <ul id="assembly-pledges-{{candidacy.age}}">
                                    {% for pledge in pledges[candidacy.age] %}
                                        <li class="pledge">
                                            {{pledge.pledge}}
                                            <pre class="pledge-description hide">{{pledge.description}}</pre>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            {% endif %}
                            </div>
                        </th>
                        <td>
                        {% if candidacy.district_id %}
                            {% for region, region_id in zip(candidacy.district, candidacy.district_id) %}
                                {% if region_id %}<a href="{{url_for('region', region_id=region_id)}}">{% endif %}{{region}}{% if region_id %}</a>{% endif %}
                            {% endfor %}
                            {% if candidacy.is_elected %}
                                <img class="logo-elected" src="{{ url_for('static', filename='images/assembly_logo.gif') }}">
                            {% endif %}
                        {% endif %}
                        </td>
                        <td>{{widgets.rivals(person, age=candidacy.age)|safe}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if has_bills %}
        <div class="section" id="section-bills">
            <h3 id="bills">{{ gettext('Bills') }}</h3>
            <table id="person-bills" class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th id="bill_title">{{gettext('title')}}</th>
                        <th id="proposed_date">{{gettext('proposed date')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidacy in person.candidacies %}
                        {% if candidacy.is_elected %}
                            {% set bills = person.bills(candidacy.age).limit(NUM_BILLS_SHOWN + 1).all() %}
                            {% if bills %}
                                <tr>
                                    <th rowspan="{{ bills|length + 1 }}">{{ candidacy.age }}{{ gettext('th assembly') }}</th>
                                </tr>
                                {% for bill in bills[:NUM_BILLS_SHOWN] %}
                                <tr>
                                    <td><a href="{{ url_for('bill', id=bill.id) }}">{{ bill.name }}</a></td>
                                    <td>{{ bill.proposed_date }}</td>
                                </tr>
                                {% endfor %}
                                {% if bills|length > NUM_BILLS_SHOWN %}
                                <tr>
                                    <td colspan="2" class="btn-more"><a href="{{ url_for('search', target='bill', assembly_id=candidacy.age, person_id=person.id) }}">{{ gettext('more') }}</a></td>
                                </tr>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% if not mobile %}
    <script src="{{url_for('static', filename="js/person.js")}}"></script>
{% endif %}
{% endblock %}
