{% extends "layout.html" %}

{% block title %}
{{person.name|translit(type='name')}}{% if person.cur_party.name %} ({{person.cur_party.name|translit(type='party')}}){% endif %}{% if person.last_elected_no %}, {{gettext('Member of %(last_elected_no)dth National Assembly,', last_elected_no=person.last_elected_no)}}{% endif %} :: {{super()}} {{gettext('Politician Dictionary')}}
{% endblock %}

{% block extra_headers %}
{{ super() }}
<link rel="stylesheet/less" href="{{url_for('static', filename="less/person.less")}}">
<script type="text/javascript" src="{{asset('js/bootstrap-scrollspy.js')}}"></script>
{% endblock %}

{% block card %}
<div class="card" data-id="{{ person.id }}" data-url="{{url_for('person', id=person.id)}}">
    <img class="member-img" src="{{ person.image|default(url_for('static', filename='images/default_profile.jpg'), True) }}"> 
    <h2><span class="member-name">{{ person.name|translit(type='name') }}</span><br> 
        <small>
            {% if person.twitter %}
            <a href="http://twitter.com/{{ person.twitter }}"><i class="icon-twitter-sign mobile-icon-large"></i></a>
            {% endif %}
            {% if person.facebook %}
            <a href="http://facebook.com/{{ person.facebook }}"><i class="icon-facebook-sign mobile-icon-large"></i></a>
            {% endif %}
            {% if person.homepage %}
            <a href="{{ person.homepage }}"><i class="icon-home mobile-icon-large"></i></a>
            {% endif %}
            {#% if person.email %}
            <a href="mailto:{{ person.email }}"><i class="icon-envelope mobile-icon-large"></i></a>
            {% endif %#}
        </small>
    </h2>
</div>
<div id="to-cart">
    <a class="btn-save-card" href="#" onclick="CART.saveCurrentCard()">
        {{ gettext('add to cart') }}
    </a>
</div>
<ul id="person-section-tabs" class="nav">
    <li class="active"><a href="#section-profile">{{gettext("profile")}}</a></li>
    <li><a href="#section-elections">{{gettext("elections")}}</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="member-view" data-spy="scroll" data-target="#person-section-tabs">
    <div id="person-sections">
        <div class="section" id="section-profile">
            <h3>{{ gettext('profile') }}</h3>
            <table id="member-profile" class="table table-condensed">
                <tbody>
                    {% if person.birthday %}
                    <tr>
                        <th>{{ gettext("birthday") }}</th>
                        <td>{{ person.birthday_formatted|linkall|safe }}</td>
                    </tr>
                    {% endif %}
                    {% if person.cur_party %}
                    <tr>
                        <th>{{ gettext("party") }}</th>
                        <td><a data-pjax href="{{ url_for('party', name=person.cur_party.name) }}">{{ person.cur_party.name|translit(type='party') }}</a></td>
                    </tr>
                    {% endif %}
                    {% if person.education %}
                    <tr>
                        <th>{{ gettext("education") }}</th>
                        <td>
                            <span class="tooltipped" data-placement="bottom" data-title="{{gettext('original')}}: {{person_extra_vars.education}}">
                            {% for term, education_id in zip(person.education, person.education_id) %}
                            {% if education_id %}<a href="{{url_for('school', education_id=education_id)}}">{% endif %}{{term}}{% if education_id %}</a>{% endif %}
                            {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endif %}
                    {% if person_extra_vars.job or person_extra_vars.experience %}
                    <tr>
                        <th>{{ gettext("work experiences") }}</th>
                        <td>
                            {% if person_extra_vars.job %}
                            <span id="currentjob">
                                {{person_extra_vars.job|translit}}
                            </span>
                            {% endif %}
                            {% if person_extra_vars.experience %}
                            <span id="experiences">
                                {% for exp in person_extra_vars.experience %}
                                {{exp|translit}}<br>
                                {% endfor %}
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if person_extra_vars.address %}
                    <tr>
                        <th>{{ gettext("address") }}</th>
                        <td>{{person_extra_vars.address|translit}}</td>
                    </tr>
                    {% endif %}
                    {% if person_extra_vars.district %}
                    <tr>
                        <th>{{ gettext("election district") }}</th>
                        <td>{{person_extra_vars.district|translit}}</td>
                    </tr>
                    {% endif %}
                    {% if not config['DEBUG'] %}
                    <tr>
                        <th>{{ gettext("trends") }} <i class="icon-exclamation-sign tooltipped" data-placement="bottom" data-title="{{ gettext('Results from Google Trends searched by query %(name)s', name=person.name) }}"></i></th>
                        <td>
                            <div id="trends">
                                <script type="text/javascript" src="http://www.gmodules.com/ig/ifr?url=http%3A%2F%2Fwww.google.com%2Fig%2Fmodules%2Fgoogle_insightsforsearch_interestovertime_searchterms.xml&up__property=empty&up__search_terms={{ person.name }}&up__location=KR&up__category=0&up__time_range=12-m&up__compare_to_category=false&synd=open&w=640&h=150&lang={{lang}}&title=Google+%EA%B2%80%EC%83%89+%ED%86%B5%EA%B3%84&border=%23ffffff%7C3px%2C1px+solid+%23999999&output=js"></script>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="section" id="section-elections">
            <h3>{{ gettext('elections') }}</h3>
            <table class="table table-condensed">
                <tr>
                    <th>{{ gettext('timeline') }}</th>
                    <td>{{widgets.timeline(person.id)|safe}}</td>
                </tr>
                <tr>
                    <th>{{ gettext('in the same constituency') }}</th>
                    <td>{{widgets.relation(person)|safe}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename="js/person.js")}}"></script>
{% endblock %}
