{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{person.name|translit(type='name')}}{% if person.cur_party.name %} ({{person.cur_party.name|translit(type='party')}}){% endif %}{% if person.last_elected_no %}, {{gettext('Member of %(last_elected_no)dth National Assembly,', last_elected_no=person.last_elected_no)}}{% endif %} :: {{super()}} {{gettext('Politician Dictionary')}}
{% endblock %}

{% block extra_headers %}
{{ super() }}
{% assets filters='less', output='build/person.%(version)s.css',
    depends=['**/*.less'], 'less/person.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
<script type="text/javascript" src="{{asset('js/bootstrap-scrollspy.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.colorbox.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/popong-colorbox.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/colorbox.css')}}">
<script>
window.currentPage = 'person';
</script>
{% endblock %}

{% block card %}
{{widgets.card(person, detailed=True)|safe}}
<div id="to-cart">
    <a class="btn-save-card" href="#" onclick="CART.saveCurrentCard()">
        {{ gettext('add to cart') }}
    </a>
</div>
<ul id="person-section-tabs" class="nav">
    <li class="active"><a href="#profile">{{gettext("profile")}}</a></li>
    <li><a href="#elections">{{gettext("elections")}}</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="person-view">
    <div id="person-sections">
        <div class="section" id="profile">
            <h3>{{ gettext('profile') }}</h3>
            <table id="person-profile" class="table table-condensed">
                <tbody>
                    {% if person.birthday %}
                    <tr>
                        <th>{{ gettext("birthday") }}</th>
                        <td>{{ person.birthday_formatted|linkall|safe }}</td>
                    </tr>
                    {% endif %}
                    {% if person.cur_party %}
                    <tr>
                        <th>{{ gettext("party") }}</th>
                        <td><a href="{{ url_for('party', name=person.cur_party.name) }}">{{ person.cur_party.name|translit(type='party') }}</a></td>
                    </tr>
                    {% endif %}
                    {% if person.education %}
                    <tr>
                        <th>{{ gettext("education") }}</th>
                        <td>
                            <span class="tooltipped tooltipped-delay" data-placement="bottom" data-title="{{gettext('original')}}: {{person_extra_vars.education}}">
                            {% for term, education_id in zip(person.education, person.education_id) %}
                            {% if education_id %}<a href="{{url_for('school', education_id=education_id)}}">{% endif %}{{term}}{% if education_id %}</a>{% endif %}
                            {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% endif %}
                    {% if person_extra_vars.address %}
                    <tr>
                        <th>{{ gettext("address") }}</th>
                        <td>{{person_extra_vars.address|translit}}</td>
                    </tr>
                    {% endif %}
                    {% if person_extra_vars.job or person_extra_vars.experience %}
                    <tr>
                        <th>{{ gettext("work experiences") }}</th>
                        <td>
                            {% if person_extra_vars.job %}
                            <span id="currentjob">
                                {{person_extra_vars.job|translit}}
                            </span>
                            {% endif %}
                            {% if person_extra_vars.experience %}
                            <span id="experiences">
                                {% for exp in person_extra_vars.experience %}
                                {{exp|translit}}<br>
                                {% endfor %}
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if not config['DEBUG'] %}
                    <tr>
                        <th>{{ gettext("trends") }} <i class="icon-exclamation-sign tooltipped tooltipped-delay" data-placement="bottom" data-title="{{ gettext('Results from Google Trends searched by query %(name)s', name=person.name) }}"></i></th>
                        <td>
                            <div id="trends">
                                <script type="text/javascript" src="http://www.gmodules.com/ig/ifr?url=http%3A%2F%2Fwww.google.com%2Fig%2Fmodules%2Fgoogle_insightsforsearch_interestovertime_searchterms.xml&up__property=empty&up__search_terms={{ person.name }}&up__location=KR&up__category=0&up__time_range=12-m&up__compare_to_category=false&synd=open&w=640&h=150&lang={{lang}}&title=Google+%EA%B2%80%EC%83%89+%ED%86%B5%EA%B3%84&border=%23ffffff%7C3px%2C1px+solid+%23999999&output=js"></script>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="section" id="elections">
            <h3>{{gettext('elections')}}</h3>
            <div id="timeline">{{widgets.timeline(person.id)|safe}}</div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th id="district">{{gettext('election district')}}</th>
                        <th id="competitors">{{gettext('competitors')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidacy in person.candidacies %}
                    <tr id="election-{{candidacy.age}}">
                        <th>
                            <!-- FIX -->
                            {{gettext('%(age)dth', age=candidacy.age)}} 국회의원선거
                            <div class="pledges">
                            {% set pledges = person.pledges %}
                            {% if pledges and pledges[candidacy.age] %}
                            <small><a class="inline-box" href="#pledges-{{candidacy.age}}">[{{gettext('공약보기')}}]</a></small>
                            <div style="display:none">
                                <ul id="pledges-{{candidacy.age}}">
                                    {% for pledge in pledges[candidacy.age] %}
                                        <li class="pledge">
                                            {{pledge.pledge}}
                                            <pre class="pledge-description hide">{{pledge.description}}</pre>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            {% endif %}
                            </div>
                        </th>
                        <td>
                        {% if candidacy.district_id %}
                        {% for region, region_id in zip(candidacy.district, candidacy.district_id) %}
                            {% if region_id %}<a href="{{url_for('region', region_id=region_id)}}">{% endif %}{{region}}{% if region_id %}</a>{% endif %}
                        {% endfor %}
                        {% endif %}
                        </td>
                        <!-- FIXME: 동일 선거구 출마자가 없을 때, 안보여주기 -->
                        <td>{{widgets.rivals(person, age=candidacy.age)|safe}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename="js/person.js")}}"></script>
{% endblock %}
