{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }} - {{ region.name }}
{% endblock %}

{% block breadcrumb_current %}
{{ region.name|translit }}
{% endblock %}

{% block card %}
<img class="instance-img" src="{{ url_for('static', filename='images/default_region.png') }}">
<h2 class="instance-name">{{ region.name }}</h2>
{% endblock %}

{% block content %}
<table class="table table-condensed">
    <tbody>
        <tr>
            <th>{{ gettext('Candidates') }}</th>
            <td>{{ macro.people_list(region.candidates) }}</td>
        </tr>
        <tr>
            <th>{{ gettext('Residents') }}</th>
            <td>{{ macro.people_list(region.residents) }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
