{% extends "layout.html" %}
{% import 'macros.html' as macro with context %}

{% set fullname = region.fullname %}

{% block title %}
{{ super() }} - {{ fullname }}
{% endblock %}

{% block breadcrumb_current %}
{{ fullname|translit }}
{% endblock %}

{% block card %}
<img class="instance-img" src="{{ url_for('static', filename='images/default_region.png') }}">
<h2 class="instance-name">{{ fullname }}</h2>
{% endblock %}

{% block content %}
<table class="table table-condensed">
    <tbody>
        <tr>
            <th>{{ gettext('Candidates') }}
                <br>{{ macro.list_count(region.candidates) }}</th>
            <td>{{ macro.people_list_more(region.candidates, url_for('search', target='people', candidacy_region_id=region.id)) }}</td>
        </tr>
        <tr>
            <th>{{ gettext('Residents') }}
                <br>{{ macro.list_count(region.residents) }}</th>
            <td>{{ macro.people_list_more(region.residents, url_for('search', target='people', residence_region_id=region.id)) }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

