{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('Regions') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('regions') }}
{% endblock %}

{% block extra_headers %}
{% assets filters='less', output='build/submain.%(version)s.css',
    depends=['**/*.less'], 'less/submain.less' %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="search-tabs">
    <img class="submain-img" src="{{ url_for('static', filename='images/regions_image.png') }}">
    <div class="submain-nav">
        <img class="submain-title" src="{{ url_for('static', filename='images/regions_text_%s.png'%locale) }}">
     </div>
</div>

{{ korean_map|safe }}
<script>
(function () {
var url_region = "{{ url_for('region', region_id='__region_id__') }}";
$('.map .region').click(function () {
    var id = $(this).data('region_id');
    location.href = url_region.replace('__region_id__', id);
});
}());
</script>
{% endblock %}

