{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ gettext('Regions') }} - {{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('regions') }}
{% endblock %}

{% block card %}
<img class="class-item" src="{{ url_for('static', filename='images/default_region_%s_grey.png' % locale) }}"></div>
{% endblock %}

{% block content %}
{% if not mobile %}
    {{ korean_map|safe }}
{% endif %}

<div class="inline-block">
    <h3 id="province"></h3>
    {% for region in regions %}
    <a class="hide-desktop region-link{% if region.id|length == 2 %} hide{% endif %} region-{{ region.id }} region-sub-{{ region.id[:2] }}" data-text="{{ region.name }}" href="{{ url_for('region', region_id=region.id) }}">{{ region.fullname if locale == 'ko' else region.fullname_en }}</a>
    {% endfor %}
</div>

{% if not mobile %}
    <script src="{{ url_for('static', filename='js/regions.js') }}"></script>
{% endif %}
{% endblock %}

