{% extends 'layout.html' %}
{% import 'macros.html' as macro with context %}

{% block title %}
{{ super() }}
{% endblock %}

{% block breadcrumb_current %}
{{ gettext('schools') }}
{% endblock %}

{% block card %}
<div id="class-schools" class="class-card">
    <h2 class="class-name">{{ gettext('schools') }}</h2>
</div>
{% endblock %}

{% block content %}
<div class="itemlist">
{% call(school) macro.list(schools) %}
    <a href="{{ url_for('school', education_id=school.id) }}">{{ school.name|translit(type='school') }}</a>
{% endcall %}
</div>
{% endblock %}
