@import "includes";
@import "bootstrap-custom";
@import "card";
@import "map";
@import "search";
@import "entity";

@button_height: 100px;
@button_width: 169px;

#class-list {
    text-align: center;
    a {
        .inline-block;
    }
}
.class-item,
.class-item:hover {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .bgsize;
    .inline-block;
    margin: 0 10px;
    transition: .3s linear;
    width: @button_width;
    height: @button_height;
}

.logo(@name, @locale) {
    background-image: url("../images/default_@{name}_@{locale}_empty.png");
    &:hover {
        background-image: url("../images/default_@{name}_@{locale}_grey.png");
    }
}

#class-parties {
    &.ko {
        .logo("party", "ko");
    }
    &.en {
        .logo("party", "en");
    }
}
#class-bills {
    &.ko {
        .logo("bill", "ko");
    }
    &.en {
        .logo("bill", "en");
    }
}
#class-people {
    &.ko {
        .logo("person", "ko");
    }
    &.en {
        .logo("person", "en");
    }
}
#class-regions {
    &.ko {
        .logo("region", "ko");
    }
    &.en {
        .logo("region", "en");
    }
}

.breadcrumb {
    text-transform: capitalize;
}

.social-sends {
    height: 30px;
    margin: 20px auto 10px;
    text-align: center;
    div {
        display: inline-block;
        height: 20px;
        width: 73px;
    }
    #send-to-facebook {
        position: relative !important;
        top: -25px;
    }
    #send-to-twitter {
        margin-left: 5px;
        vertical-align: top;
    }
}

.float-list {
    ul,
    &:ul {
        list-style: none;
        margin-left: 0;
    }
    li {
        .inline-block;
    }
}

.nomargin {
    margin: 0;
}

.extra {
    line-height: 17px;
    padding-left: 10px;
    .shrink;
}

.annotated {
    border-bottom: 1px dashed #555;
}

.shrink {
    font-size: @spec_size;
}

.silver-link {
    color: @icon_color;
    font-weight: bold;
    .shrink;
}
.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

#google_translate_element {
    display: inline-block;
    float: left;
}

.comment {
    .shrink;
    float: right;
    font-weight: normal;
}

.alert {
    margin-bottom: 300px;
}

.grad {
    background: -webkit-linear-gradient(#ddd, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, white); /* Standard syntax */
}
