@import "includes";

body {
    padding: 0 20px;
}

.adsense .adsbygoogle{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.hl-wrapper {
    .hidden-links {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &:hover {
        .hidden-links {
            display: block;
        }
    }
}

#section-statements {
    .hidden-links {
        position: inherit;
    }
}
