@import "includes";

@container_width: 1300px;

///// override DOM styles /////
tr:first-child th,
tr:first-child td {
    border-top: 0;
}

th:first-child,
td:first-child {
    width: 15%;
}

th.no-min-width {
    min-width: 0;
}



///// user-defined stylesheets /////
// layout
body {
    padding: 0 20px;
    div#header,
    div#container,
    div#footer {
        max-width: @container_width;
    }
}

#header {
    position: relative;
    text-align: center;
    margin: 0 auto;

    h1 {
        .inline-block;
        margin: 8px 10px 0;
        img {
            height: 65px;
        }
    }

    p.brand-name {
        display: block;
        text-align: center;
        font-family: Times, serif;
        font-size: 15pt;
        font-style: italic;
        font-weight: normal;
    }

    form {
        .inline-block;
        margin-top: 15px;
        vertical-align: middle;
        margin-bottom: 10px;
    }

    #header-top {
        border: 1px solid @layout_border_color;
        margin: 7px 0;
        height: 78px;
    }

    .breadcrumb {
        background-color: @container_color;
        border-top: 1px solid @layout_border_color;
        padding: 0 5px 8px 5px;
        font-size: 85%;
        text-align: left;
        .border-radius(0, 0, 0, 0);
        height: 12px;

        a {
            color: #777;
            &:hover {
                color: #777;
            }
        }
    }
    #submain-links {
        font-size: 85%;
        position: absolute;
        right: 0;
        bottom: 4px;
        a {
            background-color: #AAA;
            color: white;
            margin-left: 2px;
            padding: 0 3px;
        }
    }
}

#container {
    background: white;
    border: 1px solid @layout_border_color;
    border-top: none;
    margin: 0 auto;
    padding-bottom: 30px;
    #hero {
        min-height: 330px;
        padding-top: 110px;
    }
}

#footer {
    color: @bottom_color;
    font-size: 85%;
    text-align: center;
    height: 20px;
    p {
        display: inline-block;
    }
    a {
        color: @bottom_link_color;
        font-weight: bold;
    }
    margin: 0 auto;
}

a#barometer_tab {
    top: 50%;
}

// others
a.btn-show {
    text-decoration: none;

    .text-show {
        display: inline;
    }

    .text-hide {
        display: none;
    }

    &.active {
        .text-show {
            display: none;
        }

        .text-hide {
            display: inline;
        }
    }
}

.pagenav {
    text-align: center;
}

.btn-pagenav {
    .inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid @layout_border_color;
    color: @text_color;

    &.active,
    &.btn-prev,
    &.btn-next {
        background: #f3f3f3;
    }

    &:hover {
        background: whitesmoke;
        text-decoration: none;
    }

    [class^="icon-"] {
        color: #333;
        .inline-block;
    }
}

.badge-elected {
    width: 20px;
}


.user-options {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 8pt;
    color: @bottom_color;
    z-index: 99;

    a {
        &.language {
            color: @bottom_color;
        }
        &.user-action {
            color: #08c;
        }
        &.user-logout {
            color: #555;
        }
    }
}

#searchbox {
    position: absolute;
    top: 24px;
    right: 10px;
}

.nowrap {
    white-space: nowrap;
}

.permalink {
    .inline-block;
    vertical-align: middle;
    visibility: hidden;
    margin-left: 5px;
    font-size: 10pt;
}

:hover > .permalink {
    visibility: visible;
}

.itemlist {
    margin: 0 30px;
}

.adsense .adsbygoogle{
    margin-left: auto;
    margin-right: auto;
}
