@import "includes";
@import "animation";
@import "fonts";


h2, h3 {
    font-weight: normal;
}

#hero {
    background-color: #cfdff0;
    background-image: url('../images/na.png');
    background-position: 20% bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 50%;
    margin-top: -40px;
    position: relative;
    text-align: left;
    padding-top: 50px;

    img {
        display: inline-block;
        height: 40px;
    }
    p {
        margin-top: 10px;
    }

    .social-sends {
        background-color: rgba(255, 255, 255, 0.5);
        margin-bottom: -5px !important;
        padding: 10px 20px ;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        div {
            width: 90px;
        }
        #send-to-twitter {
            margin-left: 7px;
        }
        #follow-twitter {
            width: 193px;
            margin-left: 10px;
            vertical-align: top;
        }
    }
}

#feedback-guide {
    position: fixed;
    bottom: 50px;
    right: 50px;

    i {
        float: right;
        width: 50px;
        margin: 0 -10px;
    }

    span {
        display: block;
        float: right;
        font-family: ComicSans, serif;
        -webkit-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        -o-transform:rotate(-5deg);
    }
}
