@import "includes";
@import "animation";
@import "fonts";

@button_height: 100px;
@button_width: 169px;
@facebook_color: #266fe7;
@twitter_color: #4099ff;

#class-list {
    text-align: center;
}

a.btn-submain {
    .inline-block;
    position: relative;
    margin: 0 10px;
    width: @button_width;
    height: @button_height;
    font-size: 14pt;
    font-family: "Nanum Gothic";
    font-weight: 400;
    color: #555;

    &:hover {
        font-weight: 700;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: @button_width;
        height: @button_height;
    }

    .btn-text {
        position: absolute;
        top: 37px;
        left: 0;
        width: 100%;
        text-align: left;
        padding-left: 20px;
        .border-box;
    }
}

#hero {
    background-color: #cfdff0;
    background-image: url('../images/na.png');
    background-position: 20% bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 57%;
    margin-top: -40px;
    position: relative;
    text-align: center;
    img {
        display: inline-block;
        height: 40px;
    }
    p {
        margin-top: 10px;
    }
    #pokrbot {
        color: #777;
        float: right;
        position: absolute;
        right: 13%;
        bottom: 16%;
        [class^="icon-"] {
            margin: 0 5px;
        }
        .twitter-icon [class^="icon-"]:hover {
            color: @twitter_color;
        }
    }
    #facebook-login {
        position: absolute;
        right: 10%;
        bottom: 25%;
        text-align: left;
        &:hover {
            font-weight: bold;
            opacity: 0.9;
            text-decoration: none;
            transition: .2s linear;
        }
        div {
            .border-radius(10px);
            .box-shadow;
            background-color: @facebook_color;
            color: white;
            padding: 10px;
            width: 320px;
            [class^="icon-"] {
                background-color: lighten(@facebook_color, 5%);
                color: white;
                font-size: 30pt;
                margin: 0;
            }
            span {
                font-size: 14pt;
            }
            p {
                font-size: 9pt;
                margin: 0;
            }
        }
    }
}

#class-list {
    padding-top: 30px;
    position: relative;
    div {
        display: inline-block;
    }
}

#dashboard {
    padding: 30px;

    h2 {
        border-bottom: 2px solid @icon_color;
        color: @bg_color;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
        text-align: left;
    }
    .mainlist {
        padding: 0 20px;
        text-align: center;
        height: 400px;
    }
}

#feedback-guide {
    position: fixed;
    bottom: 50px;
    right: 50px;

    img {
        float: right;
        width: 50px;
        margin: 0 -10px;
    }

    span {
        display: block;
        float: right;
        font-family: ComicSans, serif;
        -webkit-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        -o-transform:rotate(-5deg);
    }
}

.social-sends {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: -5px !important;
    padding: 10px 20px ;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    div {
        width: 90px;
    }
    #send-to-twitter {
        margin-left: 7px;
    }
    #follow-twitter {
        width: 193px;
        margin-left: 10px;
        vertical-align: top;
    }
}

@media (max-width: 770px) {
    #facebook-login {
        display: none;
    }
}
