@import "includes";
@import "year";

.itemlist {
    ul {
        margin: inherit;
        li {
            list-style-type: none;
            display: inline-block;
       }
    }
}

.submain-img {
    float: left;
    margin-right: 20px;
}

.submain-nav {
    margin-top: 40px;
    display: inline-block;
}

///// bills.html
div#bill-list table {
    td:nth-child(3) {
        width: 15%;
    }
    td:last-child {
        width: 10%;
    }
}


///// people.html
.filters-panel {
    margin-bottom: 30px;
}

.filters-panel ul.filter-group {
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    margin: 0 5px 5px;
    padding: 5px 0 5px 10px;
    list-style: none;
}

.filters-panel ul.filter-group li {
    margin-right: 15px;
}

.filters-panel ul.filter-group li input {
    margin: 0 2px 0 0;
}

.filters-panel ul.filter-group li label {
    margin: 0;
}

.filters-panel .filter-name {
    font-size: 10pt;
    line-height: inherit;
    margin: 10px 5px 0;
    text-transform: capitalize;
}

.jplist-hidden {
    display: none;
}

.pagination-panel {
    margin: 10px 0;
    text-align: center;
}

.jplist-pagination {
    display: inline-block;
}

.jplist-pagination button {
    display: inline-block;
    color: #333333;
    height: 30px;
    margin: 3px 1px;
    background-color: white;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    text-align: center;
    width: 30px;
}

.jplist-pagination .jplist-current {
    font-weight: bold;
    background-color: #f3f3f3;
}

.jplist-pagination button:hover {
    background-color: #f3f3f3;
}

.jplist-pagination .jplist-pagingprev,
.jplist-pagination .jplist-pagingmid,
.jplist-pagination .jplist-pagingnext {
    float: left;
}

.jplist-pagination .jplist-pagingprev button,
.jplist-pagination .jplist-pagingnext button {
    font-size: 20px;
    margin: 3px 4px 1px;
}

.jplist-one-page {
    display: none;
}

.jplist-empty {
    display: none;
}

@media (max-width: 770px) {
    .filters-panel {
        padding: 0 20px 30px;
    }
    .filters-panel h3.filter-name,
    .filters-panel ul.filter-group li {
        display: inline-block;
    }
    .jplist-pagination .jplist-pagingprev button,
    .jplist-pagination .jplist-pagingnext button {
        margin: 3px 5px 3px 1px;
    }
}
@media (min-width: 1200px) {
    #people-panel {
        margin-left: 10px;
    }
}
