.dataTables_wrapper .paginate_button {
    display: inline !important;
    margin-left: 0 !important;
    padding: initial !important;
}

.dataTables_wrapper .paginate_button:hover {
    border: 1px solid transparent !important;
    color: black !important;
}

.dataTables_wrapper tr.clickable:hover {
    color: #058;
}
