/* modified andreas02(andreasviklund.com) layout v1.2. */

body {
	padding:0;
	margin: 0;
	font:76% tahoma, verdana, sans-serif;
	background:#e0e0e0;
	color:#303030;
}

a {
	text-decoration:none;
	color:#286ea0;
}

a:hover {
	text-decoration:underline;
}

#topmenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	font-size: 1.2em;

	padding-left: 40px;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.15, rgb(35,35,35)),
		color-stop(0.58, rgb(54,54,54))
	);
	background-image: -moz-linear-gradient(
		bottom,
		rgb(35,35,35) 15%,
		rgb(54,54,54) 58%
	);
}

#topmenu > div {
	position: absolute;
	bottom: 0;
	margin-left: 10px;
}

#topmenu a {
	position: relative;
	padding: 5px;

	color: #f3f3f3;
	font-weight: bold;

	border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.15, rgb(78,78,78)),
		color-stop(0.58, rgb(64,64,64))
	);
	background-image: -moz-linear-gradient(
		top,
		rgb(78,78,78) 15%,
		rgb(64,64,64) 58%
	);
}

#topmenu a:hover {
	text-decoration: none;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.15, rgb(102,102,102)),
		color-stop(0.58, rgb(84,84,84))
	);
	background-image: -moz-linear-gradient(
		top,
		rgb(102,102,102) 15%,
		rgb(84,84,84) 58%
	);
}

#container {
	margin: 30px 40px 15px 40px;
	padding:5px 20px 20px 20px;
	background:#ffffff;
	display: block !important;
}

#logo {
	margin:15px 0 0 0;
	padding-bottom: 20px;
}

#logo h1 {
	font-size: 1.8em;
	display: inline;
	padding-right: 20px;
}

#logo h1 a {
	color:#303030;
}

#logo h1 a:hover {
	text-decoration:none;
}

#footer {
	clear:both;
	background:#fafafa;
	color:#808080;
	font-size:0.9em;
	padding:8px 0 8px 0;
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	text-align:center;
}

#footer a {
	color:#808080;
	font-weight: bold;
}

h1 {
	margin:0 0 20px 0;
	font-size:2.1em;
	font-weight:normal;
}

h2 {
	margin:0 0 20px 0;
	font-size:1.6em;
	font-weight:normal;
}

h3 {
	margin:0 0 20px 0;
	font-size:1.4em;
	font-weight:normal;
}

p, pre {
	margin:0 0 15px 0;
	line-height:1.5em;
	text-align:left;
}

.right {
	text-align:right;
}

a img {
	border:0;
}

.hide {
	display:none;
}

.bold {
	font-weight: bold;
}
